 <!--CAFES BACKUP
                    <article class="caja-producto">
                        <a href="/productos/detalle">
                            <img src="https://tienda.cabrales.com/media/catalog/product/cache/1/image/650x/040ec09b1e35df139433887a97daa66f/n/u/nuevo_super_cabrales_mol_x_250_2.jpg" alt="recomendacion">
                        </a>
                        <div class="producto-info">
                            <i class="fas fa-credit-card"></i>
                            <i class="fas fa-shopping-bag"></i>
                            <h2 class="precio-producto">$420</h2>
                            <h3>Cafe Cabrales Super</h3>
                        </div> 
                    </article>

                    <article class="caja-producto">
                        <a href="/productos/detalle">
                            <img src="https://tienda.cabrales.com/media/catalog/product/cache/1/image/650x/040ec09b1e35df139433887a97daa66f/n/u/nuevo_lpc_molido_x_500g.jpg" alt="recomendacion">
                        </a>
                        <div class="producto-info">
                            <i class="fas fa-credit-card"></i>
                            <i class="fas fa-shopping-bag"></i>
                            <h2 class="precio-producto">$450</h2>
                            <h3>Cafe Cabrales La Planta de Cafe</h3>
                        </div> 
                    </article>

                    <article class="caja-producto">
                        <a href="/productos/detalle">
                            <img src="https://tienda.cabrales.com/media/catalog/product/cache/1/image/650x/040ec09b1e35df139433887a97daa66f/p/r/prestige_cabrales_500.jpg" alt="recomendacion">
                        </a>
                        <div class="producto-info">
                            <i class="fas fa-credit-card"></i>
                            <i class="fas fa-shopping-bag"></i>
                            <h2 class="precio-producto">$380</h2>
                            <h3>Cafe Cabrales Prestige</h3>
                        </div> 
                    </article>

                    <article class="caja-producto">
                        <a href="/productos/detalle">
                            <img src="https://www.cabrales.com/wp-content/uploads/2016/10/Al_Grano_Molido_500.jpg" alt="recomendacion">
                        </a>
                        <div class="producto-info">
                            <i class="fas fa-credit-card"></i>
                            <i class="fas fa-shopping-bag"></i>
                            <h2 class="precio-producto">$400</h2>
                            <h3>Cafe Cabrales Al Grano de Cafe</h3>
                        </div> 
                    </article>

                 </div>

                 <!--CAFETERAS

                 <h3>Cafeteras</h3>
                 <div class="categoria cafeteras">

                    <article class="caja-producto">
                        <a href="/productos/detalle">
                            <img src="https://m.xcite.com/media/catalog/product/cache/1/thumbnail/700x700/9df78eab33525d08d6e5fb8d27136e95/b/u/buy_nespresso_inissia_coffee_machine__d040__-_red_price_result.jpg" alt="recomendacion">
                        </a>
                        <div class="producto-info">
                            <i class="fas fa-credit-card"></i>
                            <i class="fas fa-shopping-bag"></i>
                            <h2 class="precio-producto">$9500</h2>
                            <h3>Cafetera Nespresso Inissia</h3>
                        </div> 
                    </article>

                    <article class="caja-producto">
                        <a href="/productos/detalle">
                            <img src="https://images-na.ssl-images-amazon.com/images/I/612OhfmHv5L._AC_SL1500_.jpg" alt="recomendacion">
                        </a>
                        <div class="producto-info">
                            <i class="fas fa-credit-card"></i>
                            <i class="fas fa-shopping-bag"></i>
                            <h2 class="precio-producto">$12500</h2>
                            <h3>Cafetera Krups Dolce Gusto</h3>
                        </div> 
                    </article>

                    <article class="caja-producto">
                        <a href="/productos/detalle">
                            <img src="https://http2.mlstatic.com/D_NQ_NP_2X_627901-MLA32720748310_102019-F.webp" alt="recomendacion">
                        </a>
                        <div class="producto-info">
                            <i class="fas fa-credit-card"></i>
                            <i class="fas fa-shopping-bag"></i>
                            <h2 class="precio-producto">$5000</h2>
                            <h3>Cafetera Bodum</h3>
                        </div> 
                    </article>

                    <article class="caja-producto">
                        <a href="/productos/detalle">
                            <img src="https://http2.mlstatic.com/D_NQ_NP_721546-MLA43533011483_092020-O.webp" alt="recomendacion">
                        </a>
                        <div class="producto-info">
                            <i class="fas fa-credit-card"></i>
                            <i class="fas fa-shopping-bag"></i>
                            <h2 class="precio-producto">$3300</h2>
                            <h3>Cafetera Magefesa</h3>
                        </div> 
                    </article>

                 </div>
                 <!--ACCESORIOS
                 <h3>Accesorios</h3>
                 <div class="categoria accesorios">

                    <article class="caja-producto">
                        <a href="/productos/detalle">
                            <img src="https://http2.mlstatic.com/D_NQ_NP_2X_797327-MLA43789261473_102020-F.webp">
                        </a>
                        <div class="producto-info">
                            <i class="fas fa-credit-card"></i>
                            <i class="fas fa-shopping-bag"></i>
                            <h2 class="precio-producto">$400</h2>
                            <h3>Espumador</h3>
                        </div> 
                    </article>

                    <article class="caja-producto">
                        <a href="/productos/detalle">
                            <img src="https://cdn.shopify.com/s/files/1/0462/9594/1278/products/CaffettinopackN4abierto_1024x1024@2x.jpg?v=1600807370" alt="recomendacion">
                        </a>
                        <div class="producto-info">
                            <i class="fas fa-credit-card"></i>
                            <i class="fas fa-shopping-bag"></i>
                            <h2 class="precio-producto">$800</h2>
                            <h3>Cápsulas recargables</h3>
                        </div> 
                    </article>

                    <article class="caja-producto">
                        <a href="/productos/detalle">
                            <img src="https://www.moulinex.com.ar/wp-content/uploads/2018/10/01.-web-molinillodecafe-1000x1000-1024x1024.jpg" alt="recomendacion">
                        </a>
                        <div class="producto-info">
                            <i class="fas fa-credit-card"></i>
                            <i class="fas fa-shopping-bag"></i>
                            <h2 class="precio-producto">$4000</h2>
                            <h3>Molinillo</h3>
                        </div> 
                    </article>

                    <article class="caja-producto">
                        <a href="/productos/detalle">
                            <img src="https://http2.mlstatic.com/D_NQ_NP_723816-MLA42885054511_072020-O.webp" alt="recomendacion">
                        </a>
                        <div class="producto-info">
                            <i class="fas fa-credit-card"></i>
                            <i class="fas fa-shopping-bag"></i>
                            <h2 class="precio-producto">$600</h2>
                            <h3>Taza Mi Cafe</h3>
                        </div> 
                    </article>

                 </div>
        </section>
                 -->