<!DOCTYPE html>
<html lang="en">

</html>

<head>
    <%- include('../partials/head.ejs')%>
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/carrito-vacio.css">
    <title>Carrito</title>
</head>

<body>
    <%- include('../partials/header.ejs')%>
    <main>


        <section class="carrito-vacio">
            <h3 align="center" class="aviso-vacio">Tu carrito está vacío</h3>
            <p align="center" class="llenarlo">Comenzá a llenarlo con nuestros productos.</p>
            <p align="center" class="ir-de-compras"><a href="">Ir de compras</a></p>
        </section>

        <section class="continua">
            <article class="continua-imagen-producto"></article>
            <h4 class="continua-viendo" align="center">Productos que te interesaron</h4>
            <i class="fas fa-angle-left"></i>
            <img src="https://tienda.cabrales.com/media/catalog/product/cache/1/image/650x/040ec09b1e35df139433887a97daa66f/n/u/nuevo_super_cabrales_mol_x_250_2.jpg"
                alt="">
            <i class="fas fa-angle-right"></i>
            </article>
        </section>
        <%- include('../partials/footer.ejs')%>
    </main>
</body>