<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs')%>
        <link rel="stylesheet" href="/stylesheets/navbar.css">
        <link rel="stylesheet" href="/stylesheets/crear-editar-producto.css">
        <link rel="stylesheet" href="/stylesheets/errores.css">
        <title>Crear nuevo producto</title>
    </head>

<body>
    <%- include('../partials/header.ejs')%>
    <main>
        <section align="center" class="formulario">
            <h2>Crear nuevo producto</h2>
            <%- include('../partials/vistaErroresValidaciones.ejs') %>
            <form method="POST" action="/productos/crear" enctype="multipart/form-data">
                <div class="product-type">
                    <select name="category"> <!--Tipo de producto, según Categoría-->
                        <option value= 1>Cafés</option>
                        <option value= 2>Cafeteras</option>
                        <option value= 3>Accesorios</option>
                    </select>
                </div>
                <div class="product-img">
                    <input type="file" name="product-img" required>
                </div>
                <div class="product-name">
                    <input type="text" name="name" id="nombre" placeholder="Nombre del producto" required>
                </div>

                <div class="attribute-check">
                    <select name="attribute" id="">
                        <option value=1>Peso</option>
                        <option value=2>Color</option>
                    </select>
                </div>

                <div class="product-weight">
                    <select name="attribute-value">
                        <option value= "250">250gr</option>
                        <option value= "500">500gr</option>
                        <option value= "1000">1000gr</option>
                        <option value= "Rojo">Rojo</option>
                        <option value= "Negro">Negro</option>
                        <option value= "Varios">Varios</option>
                    </select>
                </div>

                <div class="product-price">
                    <input type="number" step=".01" name="price" id="precio" placeholder="$00.00" required>
                </div>
               <div class="product-detail">
                   <p><label>Detalle de producto</label></p>
                   <textarea name="description" rows="10" cols="40" required></textarea>
               </div>
               <div class="product-create">
                <button class="product-create-button">Publicar</button>
                </div>
                <div>
                    <button class="product-cancel-button"><a href="/productos/listado">Cancelar</a></button>
                </div>
            </form>
        </section>
    <%- include('../partials/footer.ejs')%>
    </main>
</body>
</html>