<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs')%>
        <link rel="stylesheet" href="/stylesheets/navbar.css">
        <link rel="stylesheet" href="/stylesheets/crear-editar-producto.css">
        <title>Editar Producto</title>
    </head>

<body>
    <%- include('../partials/header.ejs')%>
    <main>
        <section align="center" class="formulario">
            <h2>Editar producto "x"</h2>
            <form action="" method="POST">
                <div class="product-type">
                    <select>
                        <option>Cafés</option>
                        <option>Cafeteras</option>
                        <option>Accesorios</option>
                    </select>
                </div>
                <div class="product-img">
                    <input type="file" name="product-img">
                </div>
                <div class="product-name">
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre del producto">
                </div>
                <div class="product-weight">
                    <input type="checkbox">250gr</input>
                    <input type="checkbox">500gr</input>
                    <input type="checkbox">1000gr</input>
                </div>
                <div class="product-price">
                    <input type="text" name="precio" id="precio" placeholder="$00,0">
                </div>
               <div class="product-detail">
                   <p><label>Detalle de producto</label></p>
                   <textarea name="comentarios" rows="10" cols="40"></textarea>
               </div>
               <div class="product-create">
                <button class="product-create-button"><a href="/productos/listado">Guardar Cambios</a></button>
                </div>
                <div class="product-create">
                    <button class="product-cancel-button"><a href="/productos/listado">Cancelar</a></button>
                </div>
            </form>
            <div>
                <form action="/listado-productos?_METHOD=DELETE" method="POST">
                    <button class="product-delete-button"><a href="/productos/listado">Eliminar producto</a></button>
                </form>
            </div>
        </section>
    <%- include('../partials/footer.ejs')%>
    </main>
</body>
</html>