

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs')%>
        <link rel="stylesheet" href="/stylesheets/navbar.css">
        <link rel="stylesheet" href="/stylesheets/quienes-somos.css">
        <title>Quiénes somos</title>
    </head>
    
<body>
    <%- include('../partials/header.ejs')%>
    <main>
     <div class="quienes-somos">
        <h1>Quiénes somos</h1>
     <div class="quienes-somos-textos">
         <div class="quienes-somos-objetivo">
            "Mí Café" tiene como objetivo hacer ofrecer la mejor selección de café para que disfrutes en tu casa, y entender mejor sus matices
            y múltiples posibilidades de consumo.
         </div>
        <div class="quienes-somos-absolutamente">
            Absolutamente todo lo que ofrecemos está hecho de manera especial, dado que estamos en cada proceso de preparacion, de todo aquello que ofrecemos.
            Nuestro café proviene de fincas seleccionadas y trabajamos con tostadores nacionales, para garantizar la frescura y el máximo sabor del café.
            Disfruta del mejor café de especialidad en tu casa, y descubre nuevos sabores y matices cada mes.
        </div>
        
        <div class="quienes-somos-especialidad">
        <h2>¿Qué es el café de especialidad?</h2>
        Existen grandes diferencias entre el café y aquello a lo que nos dedicamos: el café de especialidad.
        El café de especialidad es todo aquel que supera los 80 puntos de catación y está libre de defectos.
        Para conseguir un café de especialidad todo tiene que empezar desde el momento cero: el origen del café, la selección y plantación de una variedad en particular cultivada en una región específica del mundo. Luego el grano seleccionado debe pasar por unos puntos y procesos que juntos harán que el café producido se pueda clasificar como café de especialidad. Estos procesos tienen que ver con el tostado artesanal.
        El resultado: aroma, sabor, personalidad y carácter distintivo que transforman el paladar del consumidor.
        Buscamos incansablemente la calidad y excelencia en todo lo que hacemos, cada proceso, cada pequeño detalle, lo hacemos pensando en ofrecer sólo lo mejor y, sobre todo, dejar en todos aquellos que nos eligen, nuestra impronta personal.
        Cada café de origen único que ofrecemos representa las mejores cualidades de sabor de su región. Te invitamos a explorar a través de tu taza de café el sabor de estas zonas.
        
        </div>
    </div>
     </div>
    <%- include('../partials/footer.ejs')%>

    </main>
</body>
</html>