* {
    padding: 0;
    margin: 0;
    background-color: #ebebeb;
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}

/* HEADER */

.navbar {
    background-color: lightgrey;
}

.navbar div {
    background-color: lightgrey;
    color: black;
    margin-top: 6px;
    margin-bottom: 6px;
    display: inline-block
}

.navbar i {
    background-color: lightgrey;
}

.navbar-burger {
    font-size: 25px;
    background-color: lightgrey;
    width: 88%;
    margin-left: 6px;
    display: inline-block
}

.navbar-cart i{
    font-size: 25px;
    margin-right: 6px;
    display: inline-block
}

.navbar-location i {
    font-size: 15px;
    width: 20%;
    margin-left: 6px;
    margin-right: 6px;
    display: inline-block
}

.navbar-location-x {
    width: 100%;
    border-bottom: 1px solid rgb(186, 182, 182);
    border-top: 1px solid rgb(186, 182, 182)
}

.direccion {
    display: inline-block;
    background-color: lightgrey;
}

.navbar p {
    font-size: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.fa-chevron-right {
    margin-left: 260px;
    font-size: 10px;
    margin-bottom: 10px;
    margin-top: 10px
}

.title {
    width: 100%;
    text-align: center
}
.title-products {
    text-align: center;
    background-color: lightgrey;
    padding-bottom: 6px;
    color: rgb(83, 82, 82)
}

/* LISTA DE PRODUCTOS */

.carrito-vacio {
    color: rgb(83, 82, 82);
    margin-top: 180px
}

.llenarlo {
    color: grey;
    margin-top: 35px;
}

.ir-de-compras {
    margin-top: 6px
}

.carrito-vacio a {
    text-decoration: none;
}

/* CONTINUAR VIENDO PRODUCTOS */

.continua {
    margin-top: 300px;
    text-align: center;
    background-color: lightgray;
}

.continua-viendo {
    width: 100%;
    margin-bottom: 6px;
    background-color: lightgray;
    padding-top: 6px
}

.continua img {
    width: 50%;
    margin-bottom: 15px;

    
}

.fa-angle-right {
    font-size: 25px;
    padding-bottom: 6px;
    background-color: lightgray
}

.fa-angle-left {
    font-size: 25px;
    padding-bottom: 6px;
    background-color: lightgray
}

.categorias {
    background-color: lightgray;
    font-size: 12px;
    line-height: 35px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.categorias ul li {
    background-color: lightgray;
    margin: auto;
    font-style: italic
}

.categorias strong {
    background-color: lightgray;
}

.nombre-marca {
    font-size: 14px;
    font-style: italica;
    background-color: lightgray;
    margin-bottom: 20px
}
.redes {
    background-color: lightgray;
    text-align: center;
    border-top: 1px solid black;
    padding-top: 6px;
}

.redes i {
    background-color: lightgray;
    font-size: 30px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 6px;
    margin-bottom: 15px;
}

.pie {
    background-color: lightgray;
    text-align: center;
    padding-top: 10px
}

.pie p {
    background-color: lightgray;
    font-size: 8px;
}

.pie small {
    background-color: lightgray;
    font-size: 8px
}