/*GENERAL*/

* {
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}

/* HEADER */

/*.navbar {
    background-color: rgb(231, 231, 231);
}

.navbar div {
    background-color: rgb(231, 231, 231);
    color: black;
    margin-top: 6px;
    margin-bottom: 6px;
    display: inline-block
}

.navbar i {
    background-color:rgb(231, 231, 231);
}

.navbar-burger {
    font-size: 25px;
    background-color:rgb(231, 231, 231);
    width: 88%;
    margin-left: 6px;
    display: inline-block
}

.navbar-cart i{
    font-size: 25px;
    margin-right: 6px;
    display: inline-block
}

.navbar-location i {
    font-size: 15px;
    width: 20%;
    margin-left: 6px;
    margin-right: 6px;
    display: inline-block
}

.navbar-location-x {
    width: 100%;
    border-bottom: 1px solid rgb(186, 182, 182);
    border-top: 1px solid rgb(186, 182, 182)
}

.direccion {
    display: inline-block;
    background-color: rgb(231, 231, 231);
}

.navbar p {
    font-size: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.fa-chevron-right {
    margin-left: 260px;
    font-size: 10px;
    margin-bottom: 10px;
    margin-top: 10px
}

.title {
    width: 100%;
    text-align: center
}
.title-products {
    text-align: left;
    margin-left: 6px;
    background-color:rgb(231, 231, 231);
    padding-bottom: 6px;
    color: rgb(83, 82, 82)
}*/

.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #D1B894;
}

.navbar-logo {
    background-color: #D1B894 ;
}
.navbar-superior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #D1B894;
    padding-top: 6px;
    vertical-align: top;
}

.navbar i {
    background-color: #D1B894;
}

.navbar-logo i {
    background-color: #D1B894;
    color: black;
    font-size: 25px;
    padding-top: 4px;
    margin-left: 6px
}

.navbar-burger {
    font-size: 25px;
    background-color: #D1B894;
    color: black;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4px;
    margin-right: 6px
}
/*.input-icon .navbar-search {
    width: 100%;
    height: 20px;
    padding: 1px;
    font-size: 14px;
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 6px;
}*/

.input-icon i {
    position: absolute;
    color: black;
    background-color: #D1B894;
    border: 1px solid white;
    border-radius: 6px;
    margin-top: 7px;
    padding-left: 2px;
}

/*.navbar-cart {
    font-size: 25px;
    margin-right: 6px;
    background-color: #D1B894;
    color: black;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4px;
    margin-left: 310px
}*/

.navbar-inferior {
    border-top: 1px solid gray;
    background-color:#D1B894;
}

.location {
    background-color:#D1B894;
}

.location i {
    margin-left: 3px;
    margin-right: 6px;
    font-size: 14px;
    background-color: #D1B894;
    color: black;
}

.location h4 {
    display: inline-block;
    background-color: #D1B894;
    color: black;
    margin-top: 2%;
    font-size: 14px;
}

.title-products {
    text-align: left;
    padding-left: 6px;
    margin-top: 6px;
    background-color:#D1B894;
    padding-bottom: 6px;
    color: rgb(71, 71, 71);
    font-size: 14px
}

/* CARRITO CON PRODUCTOS*/

.contenido-carrito-1 {
    padding-top: 110px;
    padding-bottom: 20px;
    margin-left: 6px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #b8b8b8
}

.contenido-carrito-2 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 6px;
    background-color: rgb(255, 255, 255);
    padding-bottom: 150px
}

.contenido-carrito-left {
    vertical-align: top;
    width: 25%;
    display: inline-block;
}

.contenido-carrito-right {
    vertical-align: top;
    display: inline-block;
}

.contenido-carrito-right-nombre {
    font-size: 14px;
    display: inline-block
}

.contenido-carrito-right-presentacion {
    font-size: 12px;
    color:gray
}

.contenido-carrito-right-presentacion a {
    text-decoration: none;
    margin-left: 5px
}

.contenido-carrito-right-detalle {
    margin-top: 10px
}

.contenido-carrito-right-detalle-precio {
    display: inline-block;
}

.contenido-carrito-right-detalle-unidades {
    width: 40px;
    border-radius: 4px;
    margin-right: 140px
}

.contenido-carrito-right-delete-brasil {
    display: inline-block
}

.contenido-carrito-right-delete-colombia {
    display: inline-block;
    margin-left: 18px
}

.fa-times {
    display: inline-block;
    font-size: 12px;
    margin-left: 55px;
    vertical-align: top
}

.button {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    /*flex-direction: column;*/
    align-items: center;
    flex-wrap: wrap
}

.button-finalizar-pedido {
    background-color: black;/*#0c5493;*/
    border: 1px solid lightgray;
    padding: 8px;
    color: white;
    width: 51%;
    display: block;
    border-radius: 4px;
}

.preguntas-frecuentes {
    width: 50%;
    margin-top: 12px;
    text-align: center;
}

/* CONTINUAR VIENDO PRODUCTOS */

.continua {
    /*margin-top: 300px;*/ /*agregarle padding-bottom o margin-bottom al ultimo elemento antes que este*/
    text-align: center;
    /*background-color: rgb(231, 231, 231);*/
    border-top: 1px solid #b8b8b8;
    margin-top: 12px
    ;
}

.continua-viendo {
    width: 100%;
    margin-bottom: 6px;
    /*background-color: rgb(231, 231, 231);*/
    
    padding-top: 6px
}

.continua-viendo-carrousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.continua img {
    width: 50%;
    margin-bottom: 15px;
}

.fa-angle-right {
    font-size: 25px;
    padding-bottom: 6px;
    /*background-color: rgb(231, 231, 231)*/
}

.fa-angle-left {
    font-size: 25px;
    padding-bottom: 6px;
    /*background-color:rgb(231, 231, 231)*/
    
}

.categorias {
    /*background-color:rgb(231, 231, 231);*/
    
    font-size: 12px;
    line-height: 35px;
    border-top: 1px solid #b8b8b8;
    border-bottom: 1px solid #b8b8b8;
}
    
.nombre-marca {
    font-size: 14px;
    font-style: italica;
    /*background-color:rgb(231, 231, 231);*/
    
    margin-bottom: 20px
}
.redes {
    /*background-color: rgb(231, 231, 231);*/
    
    text-align: center;
    border-top: 1px solid #b8b8b8;
    padding-top: 6px;
}

.redes i {
    /*background-color:rgb(231, 231, 231);*/
    
    font-size: 30px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 6px;
    margin-bottom: 15px;
}

.pie {
    /*background-color:rgb(231, 231, 231);*/
    
    text-align: center;
    padding-top: 10px
}

.pie p {
    /*background-color:rgb(231, 231, 231);*/
    
    font-size: 8px;
}

.pie small {
    /*background-color:rgb(231, 231, 231);*/
    
    font-size: 8px
}