/*GENERAL*/

* {
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

header.navbar{
    background-color: #D1B894;
    padding: 6px;
}

.navbar a {
    color: black;
    text-decoration: none;
    background-color: #D1B894;
}

/* NAVBAR-SUPERIOR */

.navbar-superior {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #D1B894;
}

/* NAVBAR-LOGO */

.navbar-logo {
    max-width: 30%;
}

.navbar-logo a {
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
}

/* NAVBAR-SEARCH */

.search {
    display: none
}

/* NAVBAR-MENU-HAMBURGESA */

.navbar-burger {
    font-size: 25px;
}

/* NAVBAR-INFERIOR */

.navbar-inferior {
    border-top: 1px solid black;
    background-color: #D1B894;
}

.navbar-location {
    font-size: 14px;
    color: black;
}

.navbar-location i {
    display: inline-block;
    margin-top: 2px;
}

.navbar-location h4 {
    display: inline-block;
    margin-left: 3px;
    margin-top: 2px;
}

/* NAVBAR-COLORES */

div.navbar-logo {
    background-color: #D1B894;
}

.navbar-logo a {
    background-color: #D1B894;
}

div.search {
    background-color: #D1B894;
}

div.navbar-burger {
    background-color: #D1B894;
}

div.navbar-burger i {
    background-color: #D1B894;
}

div.navbar-location {
    background-color: #D1B894;
}

.navbar-location i {
    background-color: #D1B894;
}

.navbar-location h4 {
    background-color: #D1B894;
}

.title {
    width: 100%;
    text-align: center;
    background-color: #D1B894;
    padding-top: 10px
}
.title-products {
    text-align: left;
    vertical-align: bottom;
    background-color: #D1B894;
    color: rgb(83, 82, 82)
}*/

.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #D1B894;
}

/* CARRITO CON PRODUCTOS*/

.contenido-carrito-1 {
    padding-top: 15px;
    padding-bottom: 20px;
    margin-left: 6px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #b8b8b8
}

.contenido-carrito-2 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 6px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #b8b8b8;
    /*padding-bottom: 250px*/
}

.contenido-carrito-left {
    vertical-align: top;
    width: 25%;
    display: inline-block;
}

.contenido-carrito-right {
    vertical-align: top;
    display: inline-block;
}

.contenido-carrito-right-nombre {
    font-size: 14px;
    display: inline-block
}

.contenido-carrito-right-presentacion {
    font-size: 12px;
    color:gray
}

.contenido-carrito-right-presentacion a {
    text-decoration: none;
    margin-left: 5px
}

.contenido-carrito-right-detalle {
    margin-top: 10px
}

.contenido-carrito-right-detalle-precio {
    display: inline-block;
}

.contenido-carrito-right-detalle-unidades {
    width: 40px;
    border-radius: 4px;
    margin-right: 140px
}

.contenido-carrito-right-delete-brasil {
    display: inline-block
}

.contenido-carrito-right-delete-colombia {
    display: inline-block;
    margin-left: 18px
}

.fa-times {
    display: inline-block;
    font-size: 12px;
    margin-left: 55px;
    vertical-align: top
}

.finalizar-pedido {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 180px;
    padding-bottom: 60px
}

.button-finalizar-pedido {
    width: 50%;
    color: white;
    background-color: black;
    justify-content: center;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer
}

.finalizar-pedido :hover {
    width: 50%;
    text-align: center;
    color: black;
    padding: 4px;
    background-color: #D1B894;
    border: 1px solid #D1B894;
    border-radius: 4px;
    cursor: pointer;
}

.preguntas-frecuentes {
    padding-top: 10px
}

/* CONTINUAR VIENDO PRODUCTOS */

.continua {
    /*margin-top: 300px;*/ /*agregarle padding-bottom o margin-bottom al ultimo elemento antes que este*/
    text-align: center;
    /*background-color: rgb(231, 231, 231);*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center
}

.continua-viendo {
    width: 100%;
    margin-bottom: 6px;
    /*background-color: rgb(231, 231, 231);*/
    
    padding-top: 6px
}

.continua img {
    width: 50%;
    margin-bottom: 15px;
}

.fa-angle-right {
    font-size: 25px;
    padding-bottom: 6px;
    /*background-color: rgb(231, 231, 231)*/
    
}

.fa-angle-left {
    font-size: 25px;
    padding-bottom: 6px;
    /*background-color:rgb(231, 231, 231)*/
    
}

    
/* PIE DE PAGINA */

/* PIE DE PAGINA - REDES */

div.redes {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin-top: 12px;
}

.redes i {
    background-color: white;
    font-size: 25px;
    width: 33%;
    display: flex;
    justify-content: center;
}

/* PIE DE PAGINA - CONTACTO */

.contacto i {
    background-color: white;
    font-size: 17px;
    width: 100%;
}

li {
    background-color: white;
    list-style-type: none;
}

.contacto a {
    background-color: white;
    text-decoration: none;
    color: black;
}

/* PIE DE PAGINA - MEDIOS DE PAGO */

.medios-de-pago {
    width: 70%;
}

.cards {
    height: 25px;
    margin: 0 5px 5px 0;
    border: 1px solid #00000012;
}

.pagos-envios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* PIE DE PAGINA - ENVIOS */

.formas-de-envio {
    width: 30%;
}


/* PIE DE PAGINA - OTROS  */

footer {
    background-color: white;
    padding: 12px;
}

footer p {
    background-color: white;
}

footer h4 {
    background-color: white;
}

footer div {
    background-color: white;
}

.tipografia {
    font-family: 'Yellowtail', cursive;
    background-color: white;
}

.tipografia-logo {
    font-family: 'Yellowtail', cursive;
    font-size: 35px;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}

.copyright {
    width: 100%;
}

/* ADAPTACION MOBILE HEADER Y FOOTER */

/* HEADER */

@media (max-width: 767px){

.navbar-cart {
    display: none;
}

.navbar-location-desktop {
    display: none;
}

.navbar-categorias {
    display: none;
}

.navbar-categorias {
    display: none;
}

.navbar-usuario {
    display: none;
}

/* FOOTER */

.redes-desktop {
    display: none;
}

.medios-de-pago-desktop {
    display: none;
}

.formas-de-envio-desktop {
    display: none;
}

div.pagos-envios {
    margin-top: 12px;
}

div.contacto {
    margin-top: 12px;
}

p.copyright {
    margin-top: 12px;
}
}

/* ADAPTACION DESKTOP/TABLET HEADER Y FOOTER */

@media (min-width: 768px) {

    /* HEADER TABLET/DESKTOP */

    div.search {
        width: 60%;
    }
    
    .search {
        width: 60%;
        position: relative;
        display: flex;
        margin-left: 5%;
    }
    
    .searchTerm {
        width: 65%;
        border: 1px solid #D1B894;
        border-right: none;
        padding: 5px;
        height: 23px;
        border-radius: 4px 0 0 4px;
        outline: none;
        color: black;
      }
    
    .searchButton {
        width: 40px;
        height: 35px;
        border: 1px solid #D1B894;
        border-left: none;
        background:  #ededed;
        text-align: center;
        color: black;
        border-radius: 0 4px 4px 0;
        cursor: pointer;
        font-size: 12px;
    }
    
    .fa-search:before {
        background-color:  #ededed;
    }

    .navbar-cart {
        display: none
    }

    .navbar-inferior {
        background-color: #D1B894;
        border-top: 1px solid #D1B894;
        margin-top: 5px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        align-items: baseline;
    }

    .navbar-location {
        display: none;
    }

    div.navbar-location-desktop {
        width: 25%;
    }

    .navbar-location-desktop {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-right: 2px;
        background-color: #D1B894;
    }

    .navbar-location-desktop i {
        font-size: 30px;
        background-color: #D1B894;
    }

    .navbar-location-desktop h4 {
        width: 150px;
        background-color: #D1B894;
        margin-left: 2px;
    }

    .navbar-categorias {
        width: 33%;
        background-color: #D1B894;
        display: none
    }

    .navbar-categorias span {
        background-color: #D1B894;
    }

    .navbar-categorias a {
        background-color: #D1B894;
    }

    .navbar-usuario {
        background-color: #D1B894;
        text-align: center;
        width: 33%;
        max-width: 150px;
    }

    .navbar-usuario i {
        background-color: #D1B894;
    }

    /* FOOTER TABLET/DESKTOP */

    div.redes {
        display: none;
    }

    .redes-desktop a {
        color: black;
        text-decoration: none;
        font-size: 22px;
        background-color: white;
    }

    .redes-desktop i {
        background-color: white;
    }

    div.pie-desktop {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 12px;
    }

    div.redes-desktop {
        width: 20%;
        height: 126px;
        border-right: 1px solid black;
    }

    .pagos-envios {
        display: none;
    }

    div.medios-de-pago-desktop {
        width: 35%;
        height: 126px;
        border-right: 1px solid black;
    }

    div.formas-de-envio-desktop {
        width: 15%;
        height: 126px;
        border-right: 1px solid black;
    }

    div.contacto {
        width: 25%;
        height: 126px;
    }

    p.copyright {
        margin-top: 12px;
    }

