* {
    padding: 0;
    margin: 0;
}

/* NAVBAR */

.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #ededed;
}

.navbar-superior {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ededed;
    padding-top: 6px;
}

.navbar i {
    background-color: #ededed;
}

.navbar-logo img {
    background-color: #ededed;
    color: black;
}

.navbar-burger {
    font-size: 25px;
    background-color: #ededed;
    color: black;
    flex-direction: row;
    justify-content: space-around;
}

.input-icon .navbar-search {
    width: 100%;
    height: 20px;
    padding: 1px;
    font-size: 14px;
    background-color: white;
    border: 1px solid white;
    border-radius: 6px;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-around;
}

.input-icon i {
    position: absolute;
    color: black;
    background-color: white;
    border: 1px solid white;
    border-radius: 6px;
    margin-top: 1px;
}

.navbar-cart {
    font-size: 25px;
    margin-right: 6px;
    background-color: #ededed;
    color: black;
    flex-direction: row;
    justify-content: space-around;
}

.navbar-inferior {
    border-top: 1px solid gray;
    background-color: #ededed;
}

.location {
    background-color: #ededed;
}

.location i {
    margin-left: 3px;
    margin-right: 6px;
    font-size: 14px;
    background-color: #ededed;
    color: black;
}

.location h4 {
    display: inline-block;
    background-color: #ededed;
    color: black;
    margin-top: 2%;
    font-size: 14px;
}

/* PRODUCTO */

.articulo {
    padding-top: 75px;
    padding-bottom: 20px;
}

.articulo h2 {
    font-size: 21px;
    padding-bottom: 4px;
}

.img-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.img-principal img {
    width: 85%;
    flex-direction: row;
    justify-content: space-around;
}

.img-principal i {
    flex-direction: row;
    justify-content: space-around;
    padding-top: 85px;
}

.puntuacion {
    margin-left: 19px;
    margin-bottom: 6px;
}

.fa-star {
    color: goldenrod;
}

/* PRECIO Y ENVIO */

.precio-envio{
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.precio-envio div {
    margin-bottom: 4px;
    display: inline-block;
    flex-direction: row;
    justify-content: space-around;
}

.precio-envio i {
    font-size: 25px;
}

.precio div {
    font-size: 25px;
    margin-left: 10px;
}

.boton-carrito {
    width: 100%;
    text-align: center;
    color: white;
    padding: 4px;
    background-color: rgb(19, 19, 194);
    border: 1px solid rgb(19, 19, 194);
    border-radius: 4px;
}

.pagos div {
    font-size: 18px;
    margin-left: 10px;
}

.pagos div i {
    color: rgb(0, 110, 255);
}

.envio div {
    font-size: 18px;
    margin-left: 10px;
}

.envio div i {
    color: green;
}

.valor-envio div {
    font-size: 18px;
    margin-left: 10px;
}

/* DESCRIPCION DEL PRODUCTO */

.descripcion {
    margin: 6px;
    padding: 6px;
    border: 1px solid black;
    border-radius: 4px;
}

.descripcion p {
    text-align: center;
    padding: 10px;
    width: 90%;
    margin-bottom: 6px;
}

/* RECOMENDACIONES */

.recomendacion {
    padding-bottom: 25px;
}

.recomendacion h3 {
    text-align: center;
    font-size: 17px;
    padding: 15px;
}

.recomendados {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.recomendados i {
    padding-top: 45px;
}

.recomendados img {
    width: 27%;
    flex-direction: row;
    justify-content: space-around;
}

/* COPYRIGHT */

.copyright p {
    background-color: white;
}