* {
    padding: 0;
    margin: 0;
    background-color: #ededed;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

select {
    border-radius: 3px;
    background-color: black;
    color: white;
}

select option {
    background-color: black;
    color: white;
}

/* ARTICULO ENVIO PADRE */

.articulo-precio-envio-padre {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* PRODUCTO */



.articulo {
    padding-top: 12px;
    padding-bottom: 20px;
    width: 50%;
    max-width: 595px;
    flex-direction: row;
}

.titulo {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.titulo select :focus {
    border-color: #D1B894;
}

.articulo h2 {
    text-align: center;
    margin-left: 10px;
    font-size: 21px;
    padding-bottom: 4px;
}

.articulo .peso {
    width: 100%;
    text-align: center;
    margin-left: 10px;
    font-size: 21px;
    padding-bottom: 4px;
}

.imagenes-articulo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.img-principal {
    width: 100%;
    min-width: 300px;
    max-width: 600px;
}

.imagenes-principales-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    display: none;
    min-width: 300px;
    max-width: 600px;
}

.imagenes-principales-box img {
    width: 30%;
    min-width: 100px;
    max-width: 200px;
    min-height: 100px;
    max-height: 200px;
    margin-top: 6px;
}

/* PRECIO Y ENVIO */

.precio-envio{
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
    width: 340px;
    display: flex;
    align-self: flex-start;
    flex-direction: row;
    justify-content: space-around;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.precio-envio article {
    align-items: flex-start;
}

.precio-envio div {
    margin-top: 3px;
    margin-bottom: 3px;
    display: inline-block;
    flex-direction: row;
    justify-content: space-around;
}

.precio-envio i {
    font-size: 25px;
}

.puntuacion {
    margin-left: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.fa-star::before {
    color: black;
    font-size: 18px;
}

.precio div {
    font-size: 25px;
    margin-left: 10px;
}

.boton-carrito {
    width: 100%;
    text-align: center;
    color: white;
    padding: 4px;
    background-color: black;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.boton-completo :hover {
    width: 100%;
    text-align: center;
    color: black;
    padding: 4px;
    background-color: #D1B894;
    border: 1px solid #D1B894;
    border-radius: 4px;
    cursor: pointer;
}

.pagos div {
    font-size: 18px;
    margin-left: 10px;
}

.pagos div i {
    color: rgb(0, 110, 255);
}

.envio div {
    font-size: 18px;
    margin-left: 10px;
}

.envio div i {
    color: green;
}

.valor-envio div {
    font-size: 18px;
    margin-left: 10px;
    justify-content: center;
}

.links {
    display: flex;
    width: 100%;
    margin-left: 10px;
    justify-content: space-around;
}

.links i {
    font-size: 19px;
}

.links a {
    color: #3483fa;
}

/* DESCRIPCION DEL PRODUCTO */

.descripcion article {
    max-width: 1195px;
    border: 1px solid black;
    margin: 6px;
    padding: 6px;
    border-radius: 4px;
}

.descripcion {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
}

.descripcion p {
    text-align: center;
    padding: 10px;
    width: 90%;
    margin-bottom: 6px;
}

/* OPINIONES */

.opiniones {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    max-width: 400px;
    padding: 10px;
}

.opiniones i {
    font-size: 16px;
}

.fa-thumbs-up {
    margin-right: 22px;
    padding-bottom: 12px;
}

/* RECOMENDACIONES */

.recomendacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recomendacion article {
    background-color: white;
    padding: 10px;
    border: 4px;
    margin: 20px;
    box-sizing: border-box;
    justify-content: center;
    border: 1px solid #ededed;
}

.producto-info h3 {
    background-color: white;
}

.caja-producto a {
    background-color: white;
}

.recomendacion img {
    width: 100%;
}

.producto-info .fa-truck {
    color: green;
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: -10px;
}

.producto-info .fa-credit-card {
    color: rgb(0, 110, 255);
    position: absolute;
    font-size: 20px;
    left: 0px;
    top: -10px;
}

.producto-info i {
    background-color: white;
}

.producto-info {
    border-top: 1px solid #b1b1b1;
    margin-bottom: 12px;
    position: relative;
}

.producto-info h3 {
    font-weight: lighter;
}

.producto-info h2 {
    background-color: white;
    padding-top: 12px;
}

.caja-producto:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

/* NAVBAR Y FOOTER */

/* NAVBAR-SUPERIOR */

.navbar {
    padding: 12px;
    background-color: #D1B894;
}

.navbar-superior {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #D1B894;
}

/* NAVBAR-LOGO */

.navbar-logo {
    max-width: 30%;
}

.navbar-logo a {
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
}

/* NAVBAR-SEARCH */

div.search {
    width: 60%;
}

.search {
    width: 60%;
    position: relative;
    display: flex;
    margin-left: 5%;
}

.searchTerm {
    width: 65%;
    border: 1px solid #D1B894;
    border-right: none;
    padding: 5px;
    height: 23px;
    border-radius: 4px 0 0 4px;
    outline: none;
    color: black;
  }

.searchButton {
    width: 40px;
    height: 35px;
    border: 1px solid #D1B894;
    border-left: none;
    background:  #ededed;
    text-align: center;
    color: black;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 12px;
}

.fa-search:before {
    background-color:  #ededed;
}

/* NAVBAR-MENU-HAMBURGESA */

.navbar-burger {
    font-size: 25px;
}

/* NAVBAR-INFERIOR */

.navbar-inferior {
    border-top: 1px solid black;
    background-color: #D1B894;
}

.navbar-location {
    font-size: 14px;
    color: black;
}

.navbar-location i {
    display: inline-block;
    margin-top: 2px;
}

.navbar-location h4 {
    display: inline-block;
    margin-left: 3px;
    margin-top: 2px;
}

/* NAVBAR-COLORES */

div.navbar-logo {
    background-color: #D1B894;
}

.navbar-logo a {
    background-color: #D1B894;
}

div.search {
    background-color: #D1B894;
}

div.navbar-burger {
    background-color: #D1B894;
}

div.navbar-burger i {
    background-color: #D1B894;
}

div.navbar-location {
    background-color: #D1B894;
}

.navbar-location i {
    background-color: #D1B894;
}

.navbar-location h4 {
    background-color: #D1B894;
}

/* PIE DE PAGINA */

/* PIE DE PAGINA - REDES */

div.redes {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin-top: 12px;
}

.redes i {
    background-color: white;
    font-size: 25px;
    width: 33%;
    display: flex;
    justify-content: center;
}

/* PIE DE PAGINA - CONTACTO */

.contacto i {
    background-color: white;
    font-size: 17px;
    width: 100%;
}

li {
    background-color: white;
    list-style-type: none;
}

.contacto a {
    background-color: white;
    text-decoration: none;
    color: black;
}

/* PIE DE PAGINA - MEDIOS DE PAGO */

.medios-de-pago {
    width: 70%;
}

.cards {
    height: 25px;
    margin: 0 5px 5px 0;
    border: 1px solid #00000012;
}

.pagos-envios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* PIE DE PAGINA - ENVIOS */

.formas-de-envio {
    width: 30%;
}


/* PIE DE PAGINA - OTROS  */

footer {
    background-color: white;
    padding: 12px;
}

footer p {
    background-color: white;
}

footer h4 {
    background-color: white;
}

footer div {
    background-color: white;
}

.tipografia {
    font-family: 'Yellowtail', cursive;
    background-color: white;
}

.tipografia-logo {
    font-family: 'Yellowtail', cursive;
    font-size: 35px;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}

.copyright {
    width: 100%;
}

/* MOBILE */

/* NAVBAR MOBILE */

@media (max-width: 767px){

    .navbar-cart {
        display: none;
    }
    
    .navbar-location-desktop {
        display: none;
    }
    
    .navbar-categorias {
        display: none;
    }
    
    .navbar-categorias {
        display: none;
    }
    
    .navbar-usuario {
        display: none;
    }
    
    /* PIE DE PAGINA MOBILE */

    .redes-desktop {
        display: none;
    }

    .medios-de-pago-desktop {
        display: none;
    }

    .formas-de-envio-desktop {
        display: none;
    }

    div.pagos-envios {
        margin-top: 12px;
    }

    div.contacto {
        margin-top: 12px;
    }

    p.copyright {
        margin-top: 12px;
    }
}

/* DESKTOP - TABLET */

@media (min-width: 768px) {

    /* NAVBAR TABLET - DESKTOP */

    .navbar-cart {
        font-size: 25px;
    }

    .navbar-cart i {
        background-color: #D1B894;
    }
    
    .navbar-cart a {
        color: black;
        background-color: #D1B894;
    }

    .navbar-burger {
        display: none;
    }

    .navbar-inferior {
        background-color: #D1B894;
        border-top: 1px solid #D1B894;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        align-items: baseline;
    }

    .navbar-location {
        display: none;
    }

    div.navbar-location-desktop {
        width: 25%;
    }

    .navbar-location-desktop {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-right: 2px;
        background-color: #D1B894;
    }

    .navbar-location-desktop i {
        font-size: 30px;
        background-color: #D1B894;
    }

    .navbar-location-desktop h4 {
        width: 150px;
        background-color: #D1B894;
        margin-left: 2px;
    }

    .navbar-categorias {
        width: 33%;
        background-color: #D1B894;
    }

    .navbar-categorias span {
        background-color: #D1B894;
    }

    .navbar-categorias a {
        background-color: #D1B894;
    }

    .navbar-usuario {
        background-color: #D1B894;
        text-align: center;
        width: 33%;
        max-width: 150px;
    }

    .navbar-usuario i {
        background-color: #D1B894;
    }

    .navbar-usuario a {
        background-color: #D1B894;
    }

    .imagenes-principales-box {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
    
    .imagenes-principales-box img {
        width: 30%;
        min-width: 100px;
        max-width: 200px;
        min-height: 100px;
        max-height: 200px;
        margin-top: 6px;
        margin-right: 12px;
    }

    div.recomendados {
        display: flex;
        flex-wrap: wrap;
        margin-left: 10%;
    }

    .recomendacion article {
        width: 40%;
    }

    /* PIE DE PAGINA TABLET - DESKTOP */

    div.redes {
        display: none;
    }

    .redes-desktop a {
        color: black;
        text-decoration: none;
        font-size: 22px;
        background-color: white;
    }

    .redes-desktop i {
        background-color: white;
    }

    div.pie-desktop {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 12px;
    }

    div.redes-desktop {
        width: 20%;
        height: 126px;
        border-right: 1px solid black;
    }

    .pagos-envios {
        display: none;
    }

    div.medios-de-pago-desktop {
        width: 35%;
        height: 126px;
        border-right: 1px solid black;
    }

    div.formas-de-envio-desktop {
        width: 15%;
        height: 126px;
        border-right: 1px solid black;
    }

    div.contacto {
        width: 25%;
        height: 126px;
    }

    p.copyright {
        margin-top: 12px;
    }

}

@media (min-width: 1050px) {

    .descripcion article {
        border: none;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-radius: 0px;
        max-width: 600px;
    }

    .opiniones {
        margin-top: 50px;
        max-width: 600px;
    }

    .recomendacion article {
        width: 20%;
    }

}