* {
    padding: 0;
    margin: 0;
    background-color: #ebebeb;
}

/* NAVBAR */

.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #F3E0BE;
}

.navbar-superior {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #F3E0BE;
    padding-top: 6px;
    vertical-align: top;
}

.navbar i {
    background-color: #F3E0BE;
}

.navbar-logo i {
    background-color: #F3E0BE;
    color: black;
    font-size: 25px;
    margin-top: 4px;
}

.navbar-logo {
    background-color: #F3E0BE;
}

.navbar-burger {
    font-size: 25px;
    background-color: #F3E0BE;
    color: black;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4px;
}

.input-icon .navbar-search {
    display: none;
    width: 100%;
    height: 20px;
    padding: 1px;
    font-size: 14px;
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 6px;
}

.input-icon i {
    display: none;
    position: absolute;
    color: black;
    background-color: white;
    border: 1px solid white;
    border-radius: 6px;
    margin-top: 7px;
    padding-left: 2px;
}

.navbar-cart {
    display: none;
    font-size: 25px;
    margin-right: 6px;
    background-color: #F3E0BE;
    color: black;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4px;
}

.navbar-inferior {
    border-top: 1px solid black;
    background-color: #F3E0BE;
}

.location {
    background-color: #F3E0BE;
}

.location i {
    margin-left: 3px;
    margin-right: 6px;
    font-size: 14px;
    background-color: #F3E0BE;
    color: black;
}

.location h4 {
    display: inline-block;
    background-color: #F3E0BE;
    color: black;
    margin-top: 2%;
    font-size: 14px;
}

/* FORMULARIO */

.titulo {
    margin-top: 75px;
}

h2 {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 12px;
}

.formulario {
    background-color: rgba(221, 221, 221, 0.822);
    margin-top: 12px;
    margin-bottom: 12px;
}

.formulario input[type=text] {
    width: 75%;
    height: 35px;
    border:solid 1px rgba(221, 221, 221, 0.822);
    border-radius: 6px;
    background-color: white;
    margin-top: 12px;
    margin-bottom: 12px;
}

.formulario input[type=email] {
    width: 75%;
    height: 35px;
    border:solid 1px rgba(221, 221, 221, 0.822);
    border-radius: 6px;
    background-color: white;
    margin-top: 12px;
    margin-bottom: 12px;
}

.formulario input[type=date] {
    width: 75%;
    height: 35px;
    border:solid 1px rgba(221, 221, 221, 0.822);
    border-radius: 6px;
    background-color: lightgray;
    margin-top: 12px;
    margin-bottom: 12px;
}

.genero {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 13%;
    margin-top: 12px;
    margin-bottom: 12px;
}

.genero select {
    margin-left: 4px;
}

.formulario input[type=password] {
    width: 75%;
    height: 35px;
    border:solid 1px rgba(221, 221, 221, 0.822);
    border-radius: 6px;
    background-color: white;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 15px;
}

.formulario img {
    padding: 12px;
    width: 85%;
    margin-top: 12px;
    margin-bottom: 12px;
}

.usuario-existente {
    width: 75%;
    height: 50px;
    border:solid 1px rgba(221, 221, 221, 0.822);
    border-radius: 6px;
    color: white;
    text-align: center;
    background-color: black;
    margin-top: 12px;
    margin-bottom: 12px;
}

.crear-cuenta {
    width: 75%;
    height: 50px;
    border:solid 1px rgba(221, 221, 221, 0.822);
    border-radius: 6px;
    color: white;
    text-align: center;
    background-color: black;
    margin-top: 12px;
    margin-bottom: 12px;
}

.checkbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* COPYRIGHT */

.redes {
    background-color: white;
    text-align: center;
    padding-top: 6px;
}

.redes h3 {
    background-color: white;
}

.redes i {
    background-color:white;
    font-size: 30px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 6px;
    margin-bottom: 15px;
}

.pie {
    background-color:white;
    text-align: center;
    padding-top: 10px
}

.pie p {
    background-color:white;
    font-size: 8px;
}

.pie small {
    background-color:white;
    font-size: 8px
}