* {
    margin: 0;
    background-color: #ededed;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

img {
    display: block;
    margin: auto
}

/* NAVBAR */

.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #D1B894;
}

.navbar div {
    background-color: #D1B894;
}

.navbar a {
    background-color: #D1B894;
}

.navbar-superior {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #D1B894;
    padding-top: 6px;
    vertical-align: top;
}

.navbar i {
    background-color: #D1B894;
}

.navbar-logo i {
    background-color: #D1B894;
    color: black;
    font-size: 25px;
    margin-top: 4px;
}

.navbar-burger {
    font-size: 25px;
    background-color: #D1B894;
    color: black;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4px;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
    margin-left: 100px;
}

.searchTerm {
    width: 50%;
    border: 1px solid black;
    border-right: none;
    padding: 5px;
    height: 27px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: black;
  }

.searchButton {
    width: 40px;
    height: 27px;
    border: 1px solid black;
    background:  #ededed;
    text-align: center;
    color: black;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.fa-search:before {
    background-color:  #ededed;
}

.input-icon i {
    position: absolute;
    color: black;
    background-color: #D1B894;
    border: 1px solid #D1B894;
    border-radius: 6px;
    margin-top: 7px;
    padding-left: 3px;
}

.navbar-cart {
    font-size: 25px;
    margin-right: 6px;
    background-color: #D1B894;
    color: black;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4px;
}

.navbar-cart a {
    background-color: #D1B894;
}

.navbar-inferior {
    border-top: 1px solid black;
    background-color: #D1B894;
}

.location {
    background-color: #D1B894;
}

.location i {
    margin-left: 3px;
    margin-right: 6px;
    font-size: 14px;
    background-color: #D1B894;
    color: black;
}

.location h4 {
    display: inline-block;
    background-color: #D1B894;
    color: black;
    margin-top: 6px;
    margin-bottom: 2px;
    font-size: 14px;
}

/*ULTIMAS VISITAS*/

.ultimas-visitas-titulo {
    padding-top:60px;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}
.ultimas-visitas-colombia {
    padding-top:20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 15px
}

.ultimas-visitas-colombia-producto, .ultimas-visitas-colombia-imagen, .ultimas-visitas-colombia-precio, .ultimas-visitas-colombia-aviso, .boton-agregar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px
}

.ultimas-visitas-brasil{
    padding-top:20px;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    margin-top: 3px;
    margin-bottom: 3px   
}

.ultimas-visitas-brasil-producto, .ultimas-visitas-brasil-imagen, .ultimas-visitas-brasil-precio, .ultimas-visitas-brasil-aviso, .boton-agregar {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px
}

/*.ultimas-visitas-boton {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 6px
}*/

/* OFERTAS */
.ofertas {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ofertas-titulo {
    padding-top:20px;
    text-decoration: underline; 
    justify-content: center;
    flex-direction: column;  
    text-align: center
}

.ofertas-detalles-bourbon {
    padding-top:20px;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    margin-top: 3px;
    margin-bottom: 3px   
}

.ofertas-detalles-bourbon-producto, .ofertas-detalles-bourbon-imagen, .ofertas-detalles-bourbon-precio, .ofertas-detalles-bourbon-aviso {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px
}

.ofertas-detalles-guatemala {
    padding-top:20px;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    margin-top: 3px;
    margin-bottom: 3px   
}

.ofertas-detalles-guatemala-producto, .ofertas-detalles-guatemala-imagen, .ofertas-detalles-guatemala-precio, .ofertas-detalles-guatemala-aviso {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px
}

/*.ofertas-precio{
    padding:5px;
}

.ofertas h4{
    padding-top:20px; 
}*/

.ofertaza {
    color: red;
    text-decoration: underline;
}

.boton-carrito {
    width: 100%;
    text-align: center;
    color: white;
    padding: 3px;
    background-color: black;
    border: 1px solid black;
    border-radius: 4px;
}

/* OPINIONES */

.opiniones{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    justify-content: space around;
    align-items: center;
    position:relative;
    flex-direction: column;
    justify-content: center;
}

.opinion-cliente{
    font-style: italic;
}

.nombre-cliente{
    font-size: small;
    padding-bottom: 20px
}

.opiniones h3{
    padding-bottom: 10px;
}

/* COPYRIGHT */

.redes {
    background-color: white;
    text-align: center;
    padding-top: 6px;
}

.redes h3 {
    background-color: white;
}

.redes i {
    background-color:white;
    font-size: 30px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 6px;
    margin-bottom: 15px;
}

/* PIE */
.pie {
    background-color:white;
    text-align: center;
    padding-top: 10px
}

.pie p {
    background-color:white;
    font-size: 8px;
}

.pie small {
    background-color:white;
    font-size: 8px
}