* {
    margin: 0;
    background-color: #ededed;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* NAVBAR */

.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #D1B894;
}

.navbar div {
    background-color: #D1B894;
}

.navbar a {
    background-color: #D1B894;
}

.navbar-superior {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #D1B894;
    padding-top: 6px;
    vertical-align: top;
}

.navbar i {
    background-color: #D1B894;
}

.navbar-logo i {
    background-color: #D1B894;
    color: black;
    font-size: 25px;
    margin-top: 4px;
}

.navbar-burger {
    font-size: 25px;
    background-color: #D1B894;
    color: black;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4px;
}

.input-icon .navbar-search {
    width: 100%;
    height: 20px;
    padding: 1px;
    font-size: 14px;
    background-color: #D1B894;
    border: 1px solid black;
    border-radius: 6px;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 6px;
}

.input-icon i {
    position: absolute;
    color: black;
    background-color: #D1B894;
    border: 1px solid #D1B894;
    border-radius: 6px;
    margin-top: 7px;
    padding-left: 3px;
}

.navbar-cart {
    font-size: 25px;
    margin-right: 6px;
    background-color: #D1B894;
    color: black;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4px;
}

.navbar-cart a {
    background-color: #D1B894;
}

.navbar-inferior {
    border-top: 1px solid black;
    background-color: #D1B894;
}

.location {
    background-color: #D1B894;
}

.location i {
    margin-left: 3px;
    margin-right: 6px;
    font-size: 14px;
    background-color: #D1B894;
    color: black;
}

.location h4 {
    display: inline-block;
    background-color: #D1B894;
    color: black;
    margin-top: 6px;
    margin-bottom: 2px;
    font-size: 14px;
}

.body-completo{
align-items: center;
}

/*ULTIMAS VISITAS*/
.ultimas-visitas-titulo{
    padding-top:70px;
    text-decoration: underline;
}
.ultimas-visitas-colombia{
    padding-top:20px; 
}
.ultimas-visitas-brasil{
    padding-top:20px;    
}

/* OFERTAS */
.ofertas-titulo{
    padding-top:20px;
    padding-bottom:20px;
    text-decoration: underline;   
}

.ofertas h4{
    padding-top:20px; 
}

.ofertaza{
    color: red;
    text-decoration: underline;
}

.boton-carrito {
    width: 10%;
    text-align: center;
    color: white;
    padding: 4px;
    background-color: black;
    border: 1px solid black;
    border-radius: 4px;
}

/* COPYRIGHT */

.redes {
    background-color: white;
    text-align: center;
    padding-top: 6px;
}

.redes h3 {
    background-color: white;
}

.redes i {
    background-color:white;
    font-size: 30px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 6px;
    margin-bottom: 15px;
}

/* PIE */
.pie {
    background-color:white;
    text-align: center;
    padding-top: 10px
}

.pie p {
    background-color:white;
    font-size: 8px;
}

.pie small {
    background-color:white;
    font-size: 8px
}