* {
    font-family: 'Caveat', cursive;
    font-size: 20px;
    margin: 0 auto;

}

.navbar {
    background-color: black;
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}

.navbar-left {
    width: 25%;
    box-sizing: border-box;
    align-items: center;
}

.navbar-right {
    width: 25%;
    box-sizing: border-box;
    align-items: center;
}

.navbar-logo {
    max-width: 100px;
}

.login {
    background-color: purple;
    color: white;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 70px;
    align-content: center;
    justify-content: space-around;
    align-content: center;
    

}

.login-credential-image {
    align-self: flex-start;
}

.login-credential-user {
    padding: 5px;
}

.login-credential-password {
    padding: 5px;
}

.login-submit {
    padding: 10px;
}

.login-submit-button {
    padding: 15px 20px;
    width: 150px;
    border-radius: 20px;
    border: solid purple 1px;
    text-align: center;
    background-color: black;
    color: white;
    margin: 5px;
}

.login-recover-links {
    color: white;
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.login-recover-links-user, .login-recover-links-password {
    padding: 5px 20px;
}

a {
    color: white;
    text-decoration: none;
}

.login-register {
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.login-register-button {
    border-radius: 25px;
    border: solid gray 1px;
    background-color:gray;
    color: white;
    padding: 5px 10px;
}

.footer-text {
    background-color: black;
    color: white;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;

}

.footer-text-copyright {
    font-weight: 600;
    width: 100%;
}

.footer-text-terms {
    font-weight: 300;
    width: 100%;
}