<footer>
    <h3 class="tipografia-logo">Mi Cafe</h3>
<div class="redes">
    <i class="fab fa-instagram"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-facebook-square"></i>
</div>

<div class="pie-desktop">
    <div class="redes-desktop">
        <ul>
            <li><a href=""><i class="fab fa-instagram"></i> Instagram</a></li>
            <li><a href="https://twitter.com/MiCafe16"><i class="fab fa-twitter"></i> Twitter</a></li>
            <li><a href=""><i class="fab fa-facebook-square"> Facebook</i></a></li>
        </ul>
    </div>
        
    <div class="pagos-envios">
        <div class="medios-de-pago">
            <h4>Medios de Pago</h4>
            <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" class="cards" alt="Visa">
            <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" class="cards" alt="Mastercard">
            <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" class="cards" alt="Amex">
            <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" class="cards" alt="Mercadopago">
        </div>

        <div class="formas-de-envio">
            <h4>Formas de Envio</h4>
            <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/shipping/ar/oca@2x.png" class="cards" alt="Oca">
        </div>
    </div>

    <div class="medios-de-pago-desktop">
        <h4>Medios de Pago</h4>
        <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" class="cards" alt="Visa">
        <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" class="cards" alt="Mastercard">
        <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" class="cards" alt="Amex">
        <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" class="cards" alt="Mercadopago">
    </div>

    <div class="formas-de-envio-desktop">
        <h4>Formas de Envio</h4>
        <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/shipping/ar/oca@2x.png" class="cards" alt="Oca">
    </div>

    <div class="contacto">
        <h4>Contactanos</h4>
        <ul>
            <li><a href=""><i class="fab fa-whatsapp"> 011-2530-0369</i></a></li>
            <li><a href=""><i class="fas fa-map-marker-alt"> Calle Falsa 123</i></a></li>
            <li><a href=""><i class="far fa-envelope"> micafegrupo8@outlook.com</i></a></li>
        </ul>
    </div>
</div>

<p class="copyright">Copyright © 2020 <span class="tipografia">Mi Cafe</span> S.R.L.</p>
</footer>