.title {
    width: 100%;
    text-align: center;
    background-color: #D1B894;
    padding-top: 10px
}
.title-products {
    text-align: left;
    vertical-align: bottom;
    background-color: #D1B894;
    color: rgb(83, 82, 82)
}


/* CARRITO CON PRODUCTOS*/

.contenido-carrito-1 {
    padding-top: 15px;
    padding-bottom: 20px;
    margin-left: 6px;
    background-color: #ededed;
    border-bottom: 1px solid #b8b8b8
}

.contenido-carrito-2 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 6px;
    background-color: #ededed;
    /*padding-bottom: 250px*/
}

.contenido-carrito-left {
    vertical-align: top;
    width: 25%;
    display: inline-block;
}

.contenido-carrito-right {
    vertical-align: top;
    display: inline-block;
}

.contenido-carrito-right-nombre {
    font-size: 14px;
    display: inline-block
}

.contenido-carrito-right-presentacion {
    font-size: 12px;
    color:gray
}

.contenido-carrito-right-presentacion a {
    text-decoration: none;
    margin-left: 5px
}

.contenido-carrito-right-detalle {
    margin-top: 10px
}

.contenido-carrito-right-detalle-precio {
    display: inline-block;
}

.contenido-carrito-right-detalle-unidades {
    width: 40px;
    border-radius: 4px;
    margin-right: 140px
}

.contenido-carrito-right-delete-brasil {
    display: inline-block
}

.contenido-carrito-right-delete-colombia {
    display: inline-block;
    margin-left: 18px
}

.fa-times {
    display: inline-block;
    font-size: 12px;
    margin-left: 55px;
    vertical-align: top
}

.finalizar-pedido {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 180px;
    padding-bottom: 60px
}

.button-finalizar-pedido {
    width: 50%;
    color: white;
    background-color: black;
    justify-content: center;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer
}

.finalizar-pedido :hover {
    width: 50%;
    text-align: center;
    color: black;
    padding: 4px;
    background-color: #D1B894;
    border: 1px solid #D1B894;
    border-radius: 4px;
    cursor: pointer;
}

.preguntas-frecuentes {
    padding-top: 10px
}

/* RECOMENDACIONES */

.recomendacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ededed;
}

.recomendacion article {
    background-color: white;
    padding: 10px;
    border: 4px;
    margin: 20px;
    box-sizing: border-box;
    justify-content: center;
    border: 1px solid #ededed;
}

.producto-info h3 {
    background-color: white;
}

.caja-producto a {
    background-color: white;
}

.recomendacion img {
    width: 100%;
}

.producto-info .fa-shopping-bag {
    color: black;
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: -10px;
}

.producto-info .fa-credit-card {
    color: black;
    position: absolute;
    font-size: 20px;
    left: 0px;
    top: -10px;
}

.producto-info i {
    background-color: white;
}

.producto-info {
    border-top: 1px solid #b1b1b1;
    margin-bottom: 12px;
    position: relative;
}

.producto-info h3 {
    font-weight: lighter;
}

.producto-info h2 {
    background-color: white;
    padding-top: 12px;
}

.caja-producto:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

/* BOX PRODUCTOS */

@media (min-width: 768px) {
    div.recomendados {
        display: flex;
        flex-wrap: wrap;
        margin-left: 10%;
    }

    .recomendacion article {
        width: 40%;
    }

}

/*  */

@media (min-width: 768px) {

    /* HEADER TABLET/DESKTOP */
/*
    div.search {
        width: 60%;
    }
    
    .search {
        width: 60%;
        position: relative;
        display: flex;
        margin-left: 5%;
    }
    
    .searchTerm {
        width: 65%;
        border: 1px solid #D1B894;
        border-right: none;
        padding: 5px;
        height: 23px;
        border-radius: 4px 0 0 4px;
        outline: none;
        color: black;
      }
    
    .searchButton {
        width: 40px;
        height: 35px;
        border: 1px solid #D1B894;
        border-left: none;
        background:  #ededed;
        text-align: center;
        color: black;
        border-radius: 0 4px 4px 0;
        cursor: pointer;
        font-size: 12px;
    }
    
    .fa-search:before {
        background-color:  #ededed;
    }

    .navbar-cart {
        display: none
    }
}*/

@media (min-width: 1050px) {

    .descripcion article {
        border: none;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-radius: 0px;
        max-width: 600px;
    }

    .opiniones {
        margin-top: 50px;
        max-width: 600px;
    }

    .recomendacion article {
        width: 20%;
    }
}