/* CAJA PRODUCTOS */
main {
    background-color: #ededed;
}

.tarjeta-producto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.caja-producto {
    background-color: white;
    padding: 10px;
    border: 4px;
    margin: 20px;
    box-sizing: border-box;
    justify-content: center;
    border: 1px solid #ededed;
}

.producto-info h3 {
    background-color: white;
}

.caja-producto a {
    background-color: white;
}

.caja-producto img {
    width: 100%;
}

.producto-info .fa-shopping-bag {
    color: black;
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: -10px;
}

.producto-info .fa-credit-card {
    color: black;
    position: absolute;
    font-size: 20px;
    left: 0px;
    top: -10px;
}

.producto-info i {
    background-color: white;
}

.producto-info {
    border-top: 1px solid #b1b1b1;
    margin-bottom: 12px;
    position: relative;
}

.producto-info h3 {
    font-weight: lighter;
}

.producto-info h2 {
    background-color: white;
    padding-top: 12px;
}

.caja-producto:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

@media (min-width: 768px) {

    div.categoria {
        display: flex;
        flex-wrap: wrap;
        margin-left: 10%;
    }

    .caja-producto {
        width: 40%;
    }
}

@media (min-width: 1050px) {

    .caja-producto {
        width: 20%;
    }
}

/* OFERTAS
.ofertas {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ofertas-titulo {
    padding-top:20px;
    text-decoration: underline; 
    justify-content: center;
    flex-direction: column;  
    text-align: center
}

.ofertas-detalles-bourbon {
    padding-top:20px;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    margin-top: 3px;
    margin-bottom: 3px   
}

.ofertas-detalles-bourbon-producto, .ofertas-detalles-bourbon-imagen, .ofertas-detalles-bourbon-precio, .ofertas-detalles-bourbon-aviso {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px
}

.ofertas-detalles-guatemala {
    padding-top:20px;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    margin-top: 3px;
    margin-bottom: 3px   
}

.ofertas-detalles-guatemala-producto, .ofertas-detalles-guatemala-imagen, .ofertas-detalles-guatemala-precio, .ofertas-detalles-guatemala-aviso {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px
}

.ofertas-precio{
    padding:5px;
}

.ofertas h4{
    padding-top:20px; 
}

.ofertaza {
    color: red;
    text-decoration: underline;
}

.boton-carrito {
    width: 100%;
    text-align: center;
    color: white;
    padding: 3px;
    background-color: black;
    border: 1px solid black;
    border-radius: 4px;
}
*/