/*BODY*/
.login {
    background-color: #ededed;
    color: black;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    padding-top: 85px;
    padding-bottom: 50px;
    justify-content: space-around;
    align-content: center;

}

.login-credential-image {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.login-credential-image img {
    max-width: 80px;
}

.login-credential-alternative {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;
    align-content: center;
}

.login-credential-alternative-gm, .login-credential-alternative-fb, .login-credential-alternative-tw {
    max-width: 40px;
}

.login-credential {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.login-credential-remindme {
    padding: 5px;
    margin: 5px;
    width: 95%;
    border: none;
}

.login-credential-user input{
    width: 75%;
    max-width: 340px;
    height: 35px;
    border:solid 1px #ededed;
    border-radius: 6px;
    background-color: white;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
}

.login-credential-password input {
    width: 76%;
    max-width: 340px;
    height: 35px;
    border:solid 1px #ededed;
    border-radius: 6px;
    background-color: white;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
}

button#view-pass {
    height: 30px;
    border-radius: 6px;
    background-color: white;
    border:solid 0.1px white;
    margin-left: -22px;
}

button#view-pass:focus {
    height: 30px;
    border-radius: 6px;
    background-color: white;
    outline: none;
    margin-left: -22px;
}

.login-submit {
    padding: 10px;
    margin: 5px
}

button.login-submit-button {
    padding: 15px 20px;
    border-radius: 20px;
    text-align: center;
    border: solid #ededed 1px;
    background-color:black;
    color: white;
    padding: 15px 20px;
    margin: 5px;
}

button.login-submit-button:hover {
    padding: 15px 20px;
    border-radius: 20px;
    text-align: center;
    border: solid #ededed 1px;
    background-color:#D1B894;
    border: 1px solid #D1B894;
    color: black;
    font-weight: bold;
    padding: 15px 20px;
    margin: 5px;
    cursor: pointer;
}

/*Mensaje Login: incorrecto*/

.login-submit-message-wrong-user {
    color: red;
    font-weight: bold;
    padding: 5px;
    margin: 3px;
}

/*Mensaje Login: crear cuenta*/
.login-user-not-found.html {
    color: red;
    font-weight: bold;
    padding: 5px;
    margin: 3px;
}


.login-recover-links {
    color: white;
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-recover-links-user, .login-recover-links-password {
    padding: 5px 20px;
}

a {
    color: black;
    text-decoration: none;
}

.login-register {
    color: black;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.login-register-button {
    border-radius: 15px;
    text-align: center;
    border: solid rgb(170, 170, 170) 1px;
    background-color:rgb(170, 170, 170);
    color: black;
    font-weight: bold;
    padding: 5px;
    margin: 8px;
}

/* MOBILE */

/* NAVBAR MOBILE */

@media (max-width: 767px){
    
    .navbar-logo{
        margin-bottom: 5px;
    }

    .login-credential-password input {
        padding: 5px;
        margin: 5px;
        width: 85%;
        border: none;
    }

    .pie-desktop {
     font-size: 12px;
     }
}