<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs')%>
        <link rel="stylesheet" href="/stylesheets/navbar.css">
        <link rel="stylesheet" href="/stylesheets/404.css">
        <title>404 Not Found</title>
    </head>
<body>
    <%- include('./partials/header.ejs')%>
    <main align="center">
        <h1>404</h1>
        <img class="img_error" src="/images/cafe_404.png" alt="cafe_404">
        <h1>La pagina no existe!</h1>


        <%- include('./partials/footer.ejs')%>
    </main>