<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>borrador</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/borrador-rodri.css">
</head>
<body>
    <main>
        <article class="precio-envio">

            <div class="precio">
                <div><i class="fas fa-dollar-sign"></i></div>
                <div><p class="pesos">400</p></div>
                <div><button class="boton-carrito" type="button">Agregar al Carrito</button></div>
            </div>
        
            <div class="pagos">
                <div><i class="fas fa-credit-card"></i></div>
                <div><p>Paga en 3 Cuotas Sin Interes!</p></div>
            </div>
        
            <div class="envio">
                <div><i class="fas fa-truck"></i></div>
                <div><p>Llega entre 3 y 5 dias habiles</p></div>
            </div>
        
        </article>
    </main>
</body>
</html>