<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>borrador</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/carrito-lleno.css">
</head>

<body>

    <body>
        <main>
            <header class="navbar">
                <div class="navbar-burger"><i class="fas fa-bars"></i></div>
                <div class="navbar-cart"><i class="fas fa-shopping-cart"></i></div>
                <div class="navbar-location-x">
                    <div class="navbar-location"><i class="fas fa-map-marker-alt"></i></div>
                    <p class="direccion">Enviar a Calle Falsa 123</p><i class="fas fa-chevron-right"></i>
                </div>
                <div class="title">
                    <h4 class="title-products">Tu Carrito (2)</h4>
                </div>
            </header>

            <div class="contenido-carrito-1">
                <div class="contenido-carrito-left">
                    <img width="100%" src="https://http2.mlstatic.com/cafe-de-especialidad-tostado-colombia-guanes-genuino-14-kg-D_NQ_NP_787555-MLA42564298723_072020-F.webp" alt="">
                </div>

                <div class="contenido-carrito-right">
                    <div class="contenido-carrito-right-nombre"><p>Café premium tostado Colombia...</p></div><div class="contenido-carrito-right-delete-colombia"><i class="fas fa-times"></i></div>
                    <div class="contenido-carrito-right-presentacion">Presentación: Molido Espresso <a href="">Modificar</a></div>
                    <div class="contenido-carrito-right-detalle">
                        <select class="contenido-carrito-right-detalle-unidades" name="cantidad">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="Más">Más</option>
                        </select>
                        <div class="contenido-carrito-right-detalle-precio"><p>$1.299,99</p></div>
                    </div>
                </div>
            </div>

            <div class="contenido-carrito-2">
                <div class="contenido-carrito-left">
                    <img width="100%" src="https://http2.mlstatic.com/cafe-premium-tostado-brasil-catuai-1-kg-D_NQ_NP_787296-MLA42540120808_072020-O.webp" alt="">
                </div>

                <div class="contenido-carrito-right">
                    <div class="contenido-carrito-right-nombre"><p>Café premium tostado Brasil Catuai...</p></div><div class="contenido-carrito-right-delete-brasil"><i class="fas fa-times"></i></div>
                    <div class="contenido-carrito-right-presentacion">Presentación: Molido Espresso <a href="">Modificar</a></div>
                    <div class="contenido-carrito-right-detalle">
                        <select class="contenido-carrito-right-detalle-unidades" name="cantidad">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="Más">Más</option>
                        </select>
                        <div class="contenido-carrito-right-detalle-precio"><p>$1.000,00</p></div>
                    </div>
                </div>
            </div>
            
            <section class="continua">
                <article class="continua-imagen-producto"></article>
                <h4 class="continua-viendo" align="center">Productos que te interesaron</h4>
                <i class="fas fa-angle-left"></i>
                <img src="https://tienda.cabrales.com/media/catalog/product/cache/1/image/650x/040ec09b1e35df139433887a97daa66f/n/u/nuevo_super_cabrales_mol_x_250_2.jpg"
                    alt="">
                <i class="fas fa-angle-right"></i>
                </article>
            </section>
            <div class="redes">
                <h3 class="nombre-marca">Mi Café</h3>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-whatsapp"></i>
            </div>
            <div class="categorias" align="center">
                <ul>
                    <li><strong>Café</strong></li>
                    <li><strong>Cafeteras</strong></li>
                    <li><strong>Accesorios</strong></li>
                    <li><strong>Mi cuenta</strong></li>
                    <li><strong>Ayuda</strong></li>
                </ul>
            </div>
            <footer class="pie">
                <p>Copyright © 2020 Mi Cafe S.R.L.</p>
                <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos et ab sunt voluptatum totam eius
                    nemo. Explicabo eum magnam ut fuga laborum minus, assumenda facere at quod quo debitis omnis est non
                    architecto tenetur neque rerum necessitatibus cum, dolorum totam!.</small>
            </footer>
        </main>
    </body>