<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/carrito-lleno.css">
</head>

<body>

    <body>
        <main>
            <header class="navbar">

                <div class="navbar-superior">
    
                    <div class="navbar-logo"><a href="/index">Mí Café</div></a>
    
                    <div class="search">
                        <input type="text" class="searchTerm" placeholder="Busca tu Producto">
                        <button type="submit" class="searchButton">
                          <i class="fa fa-search"></i>
                       </button>
                    </div>
    
                       <div class="navbar-burger"><i class="fas fa-bars"></i></div>
    
                       <div class="navbar-cart"><a href="/carrito-lleno"><i class="fas fa-shopping-cart"></i></div></a>
                       
                </div>
    
                <div class="navbar-inferior">
    
                    <div class="navbar-location"><i class="fas fa-map-marker-alt"></i><h4> Homero Simpson - Av. Siempre Viva 742</h4></div>
    
                    <div class="navbar-location-desktop"><i class="fas fa-map-marker-alt"></i><h4> Homero Simpson <br> Av. Siempre Viva 742</h4></div>
    
                    <div class="navbar-categorias">
                        <a href="">Cafés</a><span> - </span>
                        <a href="">Cafeteras</a><span> - </span>
                        <a href="">Accesorios</a>
                    </div>
    
                    <div class="navbar-usuario">
                        <a href=""><i class="far fa-user-circle"></i> Homero Simpson </a>
                    </div>
                    <div class="title">
                        <h4 class="title-products">Tu Carrito (2)</h4>
                    </div>
                </div>
            </header>

            <div class="contenido-carrito-1">
                <div class="contenido-carrito-left">
                    <img width="100%"
                        src="https://http2.mlstatic.com/cafe-de-especialidad-tostado-colombia-guanes-genuino-14-kg-D_NQ_NP_787555-MLA42564298723_072020-F.webp"
                        alt="">
                </div>

                <div class="contenido-carrito-right">
                    <div class="contenido-carrito-right-nombre">
                        <p>Café premium tostado Colombia...</p>
                    </div>
                    <div class="contenido-carrito-right-delete-colombia"><i class="fas fa-times"></i></div>
                    <div class="contenido-carrito-right-presentacion">Presentación: Molido Espresso <a
                            href="">Modificar</a></div>
                    <div class="contenido-carrito-right-detalle">
                        <select class="contenido-carrito-right-detalle-unidades" name="cantidad">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="Más">Más</option>
                        </select>
                        <div class="contenido-carrito-right-detalle-precio">
                            <p>$1.299,99</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="contenido-carrito-2">
                <div class="contenido-carrito-left">
                    <img width="100%"
                        src="https://http2.mlstatic.com/cafe-premium-tostado-brasil-catuai-1-kg-D_NQ_NP_787296-MLA42540120808_072020-O.webp"
                        alt="">
                </div>

                <div class="contenido-carrito-right">
                    <div class="contenido-carrito-right-nombre">
                        <p>Café premium tostado Brasil Catuai...</p>
                    </div>
                    <div class="contenido-carrito-right-delete-brasil"><i class="fas fa-times"></i></div>
                    <div class="contenido-carrito-right-presentacion">Presentación: Molido Espresso <a
                            href="">Modificar</a></div>
                    <div class="contenido-carrito-right-detalle">
                        <select class="contenido-carrito-right-detalle-unidades" name="cantidad">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="Más">Más</option>
                        </select>
                        <div class="contenido-carrito-right-detalle-precio">
                            <p>$1.000,00</p>
                        </div>
                    </div>
                </div>
            </div>

            <section class="continua">
                <article class="continua-imagen-producto"></article>
                <h4 class="continua-viendo" align="center">Productos que te interesaron</h4>
                <i class="fas fa-angle-left"></i>
                <img src="https://tienda.cabrales.com/media/catalog/product/cache/1/image/650x/040ec09b1e35df139433887a97daa66f/n/u/nuevo_super_cabrales_mol_x_250_2.jpg"
                    alt="">
                <i class="fas fa-angle-right"></i>
                </article>
            </section>

            <footer>
                <h3 class="tipografia-logo">Mí Café</h3>
            <div class="redes">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook-square"></i>
            </div>

            <div class="pie-desktop">
                <div class="redes-desktop">
                    <ul>
                        <li><a href=""><i class="fab fa-instagram"></i> Instagram</a></li>
                        <li><a href="https://twitter.com/MiCafe16"><i class="fab fa-twitter"></i> Twitter</a></li>
                        <li><a href=""><i class="fab fa-facebook-square"> Facebook</i></a></li>
                    </ul>
                </div>
                    
                <div class="pagos-envios">
                    <div class="medios-de-pago">
                        <h4>Medios de Pago</h4>
                        <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" class="cards" alt="Visa">
                        <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" class="cards" alt="Mastercard">
                        <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" class="cards" alt="Amex">
                        <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" class="cards" alt="Mercadopago">
                    </div>

                    <div class="formas-de-envio">
                        <h4>Formas de Envio</h4>
                        <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/shipping/ar/oca@2x.png" class="cards" alt="Oca">
                    </div>
                </div>

                <div class="medios-de-pago-desktop">
                    <h4>Medios de Pago</h4>
                    <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" class="cards" alt="Visa">
                    <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" class="cards" alt="Mastercard">
                    <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" class="cards" alt="Amex">
                    <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" class="cards" alt="Mercadopago">
                </div>

                <div class="formas-de-envio-desktop">
                    <h4>Formas de Envio</h4>
                    <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/shipping/ar/oca@2x.png" class="cards" alt="Oca">
                </div>

                <div class="contacto">
                    <h4>Contactanos</h4>
                    <ul>
                        <li><a href=""><i class="fab fa-whatsapp"> 011-2530-0369</i></a></li>
                        <li><a href=""><i class="fas fa-map-marker-alt"> Calle Falsa 123</i></a></li>
                        <li><a href=""><i class="far fa-envelope"> micafegrupo8@outlook.com</i></a></li>
                    </ul>
                </div>
            </div>
            
            <p class="copyright">Copyright © 2020 <span class="tipografia">Mí Café</span> S.R.L.</p>
        </footer>
        </main>
    </body>