<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Producto</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/detalle-producto.css">
</head>
<body>
    <main>

        <header class="navbar">
            <div class="navbar-superior">
                <div class="navbar-logo"><a href="/index"><i class="fas fa-coffee"></i></div></a>
                <div class="input-icon">
                    <i class="fas fa-search"></i>
                    <input type="search" class="navbar-search" placeholder="        Busca tu producto">
                </div>
                <div class="navbar-cart"><a href="/carrito-lleno"><i class="fas fa-shopping-cart"></i></div></a>
                <div class="navbar-burger"><i class="fas fa-bars"></i></div>
            </div>
            <div class="navbar-inferior">
                <div class="location"><i class="fas fa-map-marker-alt"></i><h4> Homero Simpson - Avenida Siempre Viva 742</h4></div>
            </div>
        </header>


        <section class="articulo">

            <h2>Cafe Cabrales dorado 400gr</h2>

            <article class="img-principal">
                    <i class="fas fa-chevron-left"></i>
                    <img src="https://s4.eestatic.com/2017/02/13/cocinillas/Cocinillas_193495389_116293001_1706x960.jpg" alt="cafe-1">
                    <i class="fas fa-chevron-right"></i>
            </article>
        </section>

        <section class="precio-envio">
           
            <article >

                <div class="puntuacion">
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                </div>
                <div class="precio">
                    <div><i class="fas fa-money-bill"></i></div>
                    <div><p class="pesos">$400</p></div>
                    <div><a href="/carrito-lleno"><button class="boton-carrito" type="button">Agregar al Carrito</button></a></div>
                </div>
            
                <div class="pagos">
                    <div><i class="fas fa-credit-card"></i></div>
                    <div><p>Paga en 3 Cuotas Sin Interes!</p></div>
                </div>
            
                <div class="envio">
                    <div><i class="fas fa-truck"></i></div>
                    <div><p>Calcular Precio de Envio y Demora:</p></div>
                </div>

                <div class="valor-envio">
                    <div><label for="">Elegi tu Provincia</label></p></div>
                    <div>
                    <select name="provincia" id="">
                        <option value="BA">Buenos Aires</option>
                        <option value="CA">Catamarca</option>
                        <option value="CHA">Chaco</option>
                        <option value="CHU">Chubut</option>
                        <option value="CORD">Córdoba</option>
                        <option value="CORR">Corrientes</option>
                        <option value="ER">Entre Ríos</option>
                        <option value="FO">Formosa</option>
                        <option value="JU">Jujuy</option>
                        <option value="LP">La Pampa</option>
                        <option value="LR">La Rioja
                        </option>
                        <option value="ME">Mendoza</option>
                        <option value="MI">Misiones</option>
                        <option value="NE">Neuquén</option>
                        <option value="RN">Río Negro</option>
                        <option value="SA">Salta</option>
                        <option value="SJ">San Juan</option>
                        <option value="SC">Santa Cruz
                        </option>
                        <option value="SF">Santa Fe
                        </option>
                        <option value="SGO">Santiago del Estero
                        </option>
                        <option value="TF">Tierra del Fuego
                        </option>
                        <option value="TU">Tucumán</option>
                    </select>
                    </div>
                </div>
            
            </article>
        </section>

        <section class="descripcion">
            
            <article>
                <h3 align="center">Descripcion del Cafe:</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit officiis hic nemo, aspernatur nulla quos maiores veritatis nam. Soluta obcaecati provident repudiandae vel veritatis voluptates praesentium natus quisquam sunt. Vero temporibus veritatis ullam corrupti praesentium, eos odio id ea mollitia, quia expedita earum quam culpa obcaecati sint provident ipsam ut commodi ipsum nulla! Omnis minus inventore deserunt delectus, dicta iste molestiae, vitae aliquam ut quia magni cum quidem reiciendis distinctio. Nostrum consequatur nesciunt eaque, repellendus id iste accusantium dolor tenetur, distinctio cupiditate minus.</p>
            </article>
        </section>

        <section class="recomendacion">

                <h3 class="quienes">Quienes vieron este producto tambien compraron</h3>
                <div class="recomendados">
                    <div><i class="fas fa-chevron-left"></i></div>

                    <img src="https://tienda.cabrales.com/media/catalog/product/cache/1/image/650x/040ec09b1e35df139433887a97daa66f/n/u/nuevo_super_cabrales_mol_x_250_2.jpg" alt="recomendacion">

                    <img src="https://tienda.cabrales.com/media/catalog/product/cache/1/image/650x/040ec09b1e35df139433887a97daa66f/n/u/nuevo_lpc_molido_x_500g.jpg" alt="recomendacion">

                    <img src="https://tienda.cabrales.com/media/catalog/product/cache/1/image/650x/040ec09b1e35df139433887a97daa66f/p/r/prestige_cabrales_500.jpg" alt="recomendacion">

                    <div><i class="fas fa-chevron-right"></i></div>
                 </div>
        </section>

        <div class="redes">
            <h3 class="nombre-marca">Mi Café</h3>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-whatsapp"></i>
        </div>

        <footer class="pie">
            <p>Copyright © 2020 Mi Cafe S.R.L.</p>
            <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos et ab sunt voluptatum totam eius
                nemo. Explicabo eum magnam ut fuga laborum minus, assumenda facere at quod quo debitis omnis est non
                architecto tenetur neque rerum necessitatibus cum, dolorum totam!.</small>
        </footer>

    </main>
</body>
</html>