<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Producto</title>
    <link rel="stylesheet" href="css/detalle-producto.css">
</head>
<body>
    <div>
        <p class="logo">Logo</p><p class="buscador">Buscador</p><p class="carrito">Carrito</p><br>
    </div>
    <div>
        <p class="img">Imagen 1</p><br>
        <p class="img">Imagen 2</p><p class="img-principal">Foto Principal</p><p class="info">Precio, Metodos de pago, Puntuacion, Envio</p><br>
        <p class="img">Imagen 3</p><br>
    </div>
    <div>
        <p class="descripcion">Descripcion del cafe</p><p class="img-principal">Imagen 4</p><br>
    </div>
    <div>
        <h2 align="center">Quienes vieron este prudcto tambien compraron</h2>
        <p class="img">Producto 1</p><p class="img">Producto 2</p><p class="img">Poducto 3</p><br>
    </div>
</body>
</html>