<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/formulario-registro.css">
    <title>Formulario de Registro</title>
</head>
<body>
    <main>

        <header class="navbar">
            <div class="navbar-superior">
                <div class="navbar-logo"><i class="fas fa-coffee"></i></div>
                <div class="input-icon">
                    <i class="fas fa-search"></i>
                    <input type="search" class="navbar-search" placeholder="        Busca tu producto">
                </div>
                <div class="navbar-cart"><i class="fas fa-shopping-cart"></i></div>
                <div class="navbar-burger"><i class="fas fa-bars"></i></div>
            </div>
            <div class="navbar-inferior">
                <div class="location"><i class="fas fa-map-marker-alt"></i><h4> Homero Simpson - Avenida Siempre Viva 742</h4></div>
            </div>
        </header>
        
        <section class="titulo">
            <h2>Todavia no sos Usuario? <br>
            Registrate</h2>
        </section>

        <section align="center" class="formulario">
            <form action="/">
                <input type="text" name="nombre" id="nombre" placeholder=" Nombre">
                <input type="text" name="apellido" id="apellido" placeholder=" Apellido">
                <input type="email" name="email" id="email" placeholder=" E-mail">
                <input type="date" name="fecha-nacimiento" id="fecha-nacimiento">
                <div class="genero">
                    <label for="">Genero</label>
                    <select name="genero" id="">
                    <option value="F">Femenino</option>
                    <option value="M">Masculino</option>
                    <option value="I">Indistinto</option>
                    </select>
                </div>
                
                <input type="password" name="password" id="password" placeholder=" Password"><i class="fas fa-eye-slash"></i>
                <input type="password" name="confirmar-password" id="confirmar-password" placeholder=" Confirma tu Password"><i class="fas fa-eye-slash"></i>

                <div class="checkbox">
                    <p><input type="checkbox" name="terminos-condiciones" value="terminos-condiciones"> Terminos y Condiciones</p><br>
                    <p><input type="checkbox" name="correo-promocional" value="correo-promocional"> Correo Promocional</p>
                </div>

                <img src="img/captcha.jpg" alt="captcha">

                <button class="crear-cuenta" type="button">Crea tu Cuenta</button>

                <button class="usuario-existente" type="button">Ya tenes una cuenta? <br> Clickea aqui para ingresar</button>

            </form>
        </section>
        
    </main>
</body>
</html>