<html>
    <head>
        <meta charset="utf-8">
        <title>Mí Café</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
        <link rel="stylesheet" href="/css/index.css">
    </head>
   
    <body>
        <main>
            <header class="navbar">

                <div class="navbar-superior">
    
                    <div class="navbar-logo"><a href="/index">Mí Café</div></a>
    
                    <div class="search">
                        <input type="text" class="searchTerm" placeholder="Busca tu Producto">
                        <button type="submit" class="searchButton">
                          <i class="fa fa-search"></i>
                       </button>
                    </div>
    
                       <div class="navbar-burger"><i class="fas fa-bars"></i></div>
    
                       <div class="navbar-cart"><a href="/carrito-lleno"><i class="fas fa-shopping-cart"></i></div></a>
                       
                </div>
    
                <div class="navbar-inferior">
    
                    <div class="navbar-location"><i class="fas fa-map-marker-alt"></i><h4> Homero Simpson - Av. Siempre Viva 742</h4></div>
    
                    <div class="navbar-location-desktop"><i class="fas fa-map-marker-alt"></i><h4> Homero Simpson <br> Av. Siempre Viva 742</h4></div>
    
                    <div class="navbar-categorias">
                        <a href="">Cafés</a><span> - </span>
                        <a href="">Cafeteras</a><span> - </span>
                        <a href="">Accesorios</a>
                    </div>
    
                    <div class="navbar-usuario">
                        <a href=""><i class="far fa-user-circle"></i> Homero Simpson </a>
                    </div>
                </div>
            </header>

            <section class="main-sections">
                <div class="about-us">
                    <p>Hola! Soy Mí Café </p>
                    <button type="button">Conoceme</button>
                </div>

                <div class="coffee-info">
                    <p>El mundo en un grano de café</p>
                    <button type="button">Viajemos</button>
                </div>

                <div class="coffee-family">
                    <p>Familia de productos Mí Café</p>
                    <button type="button">Conocela</button>
                </div>

                <div class="coffee-profile">
                    <p>Tu personalidad es única, tu café también!</p>
                    <button type="button">Descubrila</button>
                </div>

                <div class="coffee-community">
                    <p>Pertenecer tiene sus beneficios</p>
                    <button type="button">Unite!</button>
                </div>
            </section>
        
            <section class= "opinions">
                    <div>
                        <p class= "opinions-title">Qué opinan nuestros clientes</p>
                    </div>

                    <article>
                        <p class="opinion-cliente">"Me encanta el trato personalizado que tienen"</p>
                        <p class=nombre-cliente>Carlos S.</p>
                    </article>

                    <article>
                        <p class="opinion-cliente">"Muy buena variedad de café! Los amo!!"</p><br>
                        <p class=nombre-cliente>Lucía F.</p>
                    </article>

                    <article>
                        <p class="opinion-cliente">"No tenía idea sobre las distintas variedades de café, y cómo tomar cada uno. Ahora, tengo mí perfil y disfruto de cada uno en distintas ocasiones"</p><br>
                        <p class=nombre-cliente>Lorena B.</p>
                    </article>

                    <article>
                        <p class="opinion-cliente">"Solía tomar café, pero ahora disfruto de mí nueva pasión!"</p><br>
                        <p class=nombre-cliente>Rubén O.</p>
                    </article>

            </section>

            <footer>
                <h3 class="tipografia-logo">Mí Café</h3>
            <div class="redes">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook-square"></i>
            </div>

            <div class="pie-desktop">
                <div class="redes-desktop">
                    <ul>
                        <li><a href=""><i class="fab fa-instagram"></i> Instagram</a></li>
                        <li><a href="https://twitter.com/MiCafe16"><i class="fab fa-twitter"></i> Twitter</a></li>
                        <li><a href=""><i class="fab fa-facebook-square"> Facebook</i></a></li>
                    </ul>
                </div>
                    
                <div class="pagos-envios">
                    <div class="medios-de-pago">
                        <h4>Medios de Pago</h4>
                        <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" class="cards" alt="Visa">
                        <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" class="cards" alt="Mastercard">
                        <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" class="cards" alt="Amex">
                        <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" class="cards" alt="Mercadopago">
                    </div>

                    <div class="formas-de-envio">
                        <h4>Formas de Envio</h4>
                        <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/shipping/ar/oca@2x.png" class="cards" alt="Oca">
                    </div>
                </div>

                <div class="medios-de-pago-desktop">
                    <h4>Medios de Pago</h4>
                    <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" class="cards" alt="Visa">
                    <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" class="cards" alt="Mastercard">
                    <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" class="cards" alt="Amex">
                    <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" class="cards" alt="Mercadopago">
                </div>

                <div class="formas-de-envio-desktop">
                    <h4>Formas de Envio</h4>
                    <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/shipping/ar/oca@2x.png" class="cards" alt="Oca">
                </div>

                <div class="contacto">
                    <h4>Contactanos</h4>
                    <ul>
                        <li><a href=""><i class="fab fa-whatsapp"> 011-2530-0369</i></a></li>
                        <li><a href=""><i class="fas fa-map-marker-alt"> Calle Falsa 123</i></a></li>
                        <li><a href=""><i class="far fa-envelope"> micafegrupo8@outlook.com</i></a></li>
                    </ul>
                </div>
            </div>
            
            <p class="copyright">Copyright © 2020 <span class="tipografia">Mí Café</span> S.R.L.</p>
        </footer>

        </main>
    </body>
</html>