<html>
    <head>
        <meta charset="utf-8">
        <title>Mi Café</title>
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    </head>
    <header>
        <section class="navbar">
        <img width="150px" height="150px" src="img/logo-index.jpg" alt="Logo Mi Café">
        
        <input type="search" class="header-search-box"><button class="header-search-button"><i class="fas fa-search"></i></button>     
        </section>
    </header>
   
    <body>
        <ul type="index-links">
            <li><a href="http://localhost:3030/login">Logeate</a></li>    
            <li><a href="http://localhost:3030/formulario-registro">Registrate</a></li>
            <li><a href="http://localhost:3030/carrito-lleno">Ver Carrito</a></li>
        </ul>


        <section class:"banner">
        <img width="500px"src="index-banner.jpg" alt="Banner">
        </section>

    <main>

        <section class:"ultimas-visitas">
             <div class: "ultimas-visitas-titulo"
             <h2>Basado en tus ultimas visitas</h2>
             </div>

             <div class:"ultimas-visitas-colombia">
             <h4>Café de especialidad tostado Colombia</h4>
             <img width="200px" src="https://http2.mlstatic.com/cafe-de-especialidad-tostado-colombia-guanes-genuino-14-kg-D_NQ_NP_787555-MLA42564298723_072020-F.webp" alt="Imagen Café Colombia">
             <p>$1.299,99</p>
             <p>Aprovecha esta oferta!!!</p>
             </div>

             <div class:"ultimas-visitas-brasil">
             <h4>Café premium tostado Brasil Catuai</h4>
             <img width="200px" src="https://http2.mlstatic.com/cafe-premium-tostado-brasil-catuai-1-kg-D_NQ_NP_787296-MLA42540120808_072020-O.webp" alt="Imagen Café Brasil Catuai">
             <p>$1.000</p>
             <p>En 3 cuotas sin interés!!!</p>
             </div>


        </section>

    <div class: "ofertas">
    
    <div class: "ofertas-titulo">
            <h2>Ofertas</h2>
    </div>

            <h4>Café en oferta1</h4>
            <img width="200px" src="cafe-oferta1.jpg" alt="Imagen cafe en oferta1">
            <p>$500</p>
            <p>Pocas unidades, apurate!!</p>

            <h4>Café en oferta2</h4>
            <img width="200px" src="cafe-oferta2.jpg" alt="Imagen cafe en oferta2">
            <p>$600</p>
            <p>Ofertaza!!</p>


    </div>

    <footer>
        <div class:"footer-pago">
         <h5>Pagá con tarjeta o en efectivo</h5>
         <p></p>
        </div>

        <div class:"social-media">
        
         <div class:"social-media-title">
         <h5>Seguinos en Facebook e Instagram</h5>
         </div>

         <div class:"social-media-logos">
         <p>Acá van los logos de FB e IG.</p>
         </div>

        </div>

        <div class"footer-contacto">
         <h5>Contactanos</h5>
         <p> Completar dirección, teléfono, email</p>
        </div>

        <div class:"footer-copyright">
         <p>Copyright © 2020 Mi Café S.R.L.</p>
        </div>
        
    </footer>

        
    </body>
    </main>
</html>