<html>
    <head>
        <meta charset="utf-8">
        <title>Mi Café</title>
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <header class="navbar">
        <div class="navbar-superior">
            <div class="navbar-logo"><i class="fas fa-coffee"></i></div>
            <div class="input-icon">
                <i class="fas fa-search"></i>
                <input type="search" class="navbar-search" placeholder="        Busca tu producto">
            </div>
            <div class="navbar-cart"><i class="fas fa-shopping-cart"></i></div>
            <div class="navbar-burger"><i class="fas fa-bars"></i></div>
        </div>
        <div class="navbar-inferior">
            <div class="location"><i class="fas fa-map-marker-alt"></i><h4> Homero Simpson - Avenida Siempre Viva 742</h4></div>
        </div>
    </header>
   
    <body class="body-completo">

    <main>

    <div class= "ultimas-visitas-titulo">
     <h2>Basado en tus últimas visitas</h2>
    </div>

    <div class="ultimas-visitas-colombia">
     <h4>Café de especialidad tostado Colombia</h4>
     <img width="200px" src="https://http2.mlstatic.com/cafe-de-especialidad-tostado-colombia-guanes-genuino-14-kg-D_NQ_NP_787555-MLA42564298723_072020-F.webp" alt="Imagen Café Colombia">
        <p>$1.299,99</p>
        <p>Aprovecha esta oferta!!!</p><div><a href="/carrito-lleno"><button class="boton-carrito" type="button">Agregar al Carrito</button></a></div>
    </div>

    <div class="ultimas-visitas-brasil">
     <h4>Café premium tostado Brasil Catuai</h4>
     <img width="200px" src="https://http2.mlstatic.com/cafe-premium-tostado-brasil-catuai-1-kg-D_NQ_NP_787296-MLA42540120808_072020-O.webp" alt="Imagen Café Brasil Catuai">
        <p>$1.000</p>
        <p>En 3 cuotas sin interés!!!</p><div><a href="/carrito-lleno"><button class="boton-carrito" type="button">Agregar al Carrito</button></a></div>
    </div>
    
    <div class= "ofertas">
        <div class= "ofertas-titulo">
            <h2>Ofertas</h2>
        </div>

            <h4>Café Bourbon</h4>
            <img width="200px" src="https://http2.mlstatic.com/cafe-de-especialidad-tostado-brasil-bourbon-14-kg-D_Q_NP_746964-MLA42541880767_072020-F.webp" alt="Imagen cafe en oferta1">
            <p>$500</p>
            <p>Pocas unidades, apurate!!</p><div><a href="/carrito-lleno"><button class="boton-carrito" type="button">Agregar al Carrito</button></a></div>

            <h4>Café tostado Guatemala</h4>
            <img width="200px" src="https://http2.mlstatic.com/cafe-de-especialidad-grano-tostado-guatemala-barista-14-kg-D_NQ_NP_949151-MLA42617364974_072020-F.webp" alt="Imagen cafe en oferta2">
            <p>$600</p>
            <p class= "ofertaza">Ofertaza!!</p><div><a href="/carrito-lleno"><button class="boton-carrito" type="button">Agregar al Carrito</button></a></div>


    </div>

    <div class="redes">
        <h3 class="nombre-marca">Mi Café</h3>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-whatsapp"></i>
    </div>

    <footer class="pie">
        <p>Copyright © 2020 Mi Cafe S.R.L.</p>
        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos et ab sunt voluptatum totam eius
            nemo. Explicabo eum magnam ut fuga laborum minus, assumenda facere at quod quo debitis omnis est non
            architecto tenetur neque rerum necessitatibus cum, dolorum totam!.</small>
    </footer>

        
    </body>
    </main>
</html>