<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous"/>   
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    <title>Mi Café</title>
</head>

<body>

    <header class="navbar">

        <div class="navbar-superior">

            <div class="navbar-logo"><a href="/index">Mi Café</div></a>

            <!--
            <div class="search">
                <input type="text" class="searchTerm" placeholder="Busca tu Producto">
                <button type="submit" class="searchButton">
                  <i class="fa fa-search"></i>
               </button>
            </div>
            -->
               <div class="navbar-burger"><i class="fas fa-bars"></i></div>

               <div class="navbar-cart"><a href="/carrito-lleno"><i class="fas fa-shopping-cart"></i></div></a>
               
        </div>

        <div class="navbar-inferior">

            <div class="navbar-location"><i class="fas fa-map-marker-alt"></i><h4> Homero Simpson - Av. Siempre Viva 742</h4></div>

            <div class="navbar-location-desktop"><i class="fas fa-map-marker-alt"></i><h4> Homero Simpson <br> Av. Siempre Viva 742</h4></div>

            <div class="navbar-categorias">
                <a href="">Cafés</a><span> - </span>
                <a href="">Cafeteras</a><span> - </span>
                <a href="">Accesorios</a>
            </div>

            <div class="navbar-usuario">
                <a href=""><i class="far fa-user-circle"></i> Homero Simpson </a>
            </div>
        </div>
    </header>
    
    <main>
        <section align="center" class="login">
            <div>
                <p class="login-submit-message-wrong-user">Usuario/Contraseña inválidos</p>
            </div>
            <div class="login-credential-image">
                <img src="img/avatar-icon.svg" alt="avatar-login">
            </div>

            <div class="login-credential-alternative">
                <img class="login-credential-alternative-gm" src="img/gm-icon.svg" alt="Login Gmail">
                <img class="login-credential-alternative-fb" src="img/fb-icon.svg" alt="Login Facebook">
                <img class="login-credential-alternative-tw"  src="img/tw-icon.svg" alt="Login Twitter">
            </div>

            <form class="login-credential" action="/" method="GET">
                <div class="login-credential-user">
                    <p>...ó ingresá con tu usuario:</p>
                    <input type="text" name="user" id="user" placeholder="Mi.usuario" style="text-align:center">
                </div>

                <div class="login-credential-password">
                    <input type="password" name="password" id="password" placeholder="Contraseña" style="text-align:center" >
                    <i class="fas fa-eye-slash"></i>
                </div>

                <div class="login-credential-remindme">
                    <input type="checkbox" name="remindme" value="remindme">Recordarme
                </div>
                
                <div class="login-submit">
                    <a class="login-submit-button" href="/index">Ingresar</a>
                </div>
            </form>

            <div class="login-recover-links">
                <a class="login-recover-links-user" href="">¿Olvidaste tu usuario?</a>
                <a class="login-recover-links-password" href="">¿Olvidaste tu contraseña?</a>
            </div>

            <div class="login-register">
                <p>Si aún no estás registrado,</p>
                <a class="login-register-button" href="/formulario">Creá tu cuenta</a>
            </div>
        </section>
    </main>
    
    <footer>
        <h3 class="tipografia-logo">Mí Café</h3>
    <div class="redes">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook-square"></i>
    </div>

    <div class="pie-desktop">
        <div class="redes-desktop">
            <ul>
                <li><a href=""><i class="fab fa-instagram"></i> Instagram</a></li>
                <li><a href="https://twitter.com/MiCafe16"><i class="fab fa-twitter"></i> Twitter</a></li>
                <li><a href=""><i class="fab fa-facebook-square"> Facebook</i></a></li>
            </ul>
        </div>
            
        <div class="pagos-envios">
            <div class="medios-de-pago">
                <h4>Medios de Pago</h4>
                <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" class="cards" alt="Visa">
                <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" class="cards" alt="Mastercard">
                <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" class="cards" alt="Amex">
                <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" class="cards" alt="Mercadopago">
            </div>

            <div class="formas-de-envio">
                <h4>Formas de Envio</h4>
                <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/shipping/ar/oca@2x.png" class="cards" alt="Oca">
            </div>
        </div>

        <div class="medios-de-pago-desktop">
            <h4>Medios de Pago</h4>
            <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" class="cards" alt="Visa">
            <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" class="cards" alt="Mastercard">
            <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" class="cards" alt="Amex">
            <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" class="cards" alt="Mercadopago">
        </div>

        <div class="formas-de-envio-desktop">
            <h4>Formas de Envio</h4>
            <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/shipping/ar/oca@2x.png" class="cards" alt="Oca">
        </div>

        <div class="contacto">
            <h4>Contactanos</h4>
            <ul>
                <li><a href=""><i class="fab fa-whatsapp"> 011-2530-0369</i></a></li>
                <li><a href=""><i class="fas fa-map-marker-alt"> Calle Falsa 123</i></a></li>
                <li><a href=""><i class="far fa-envelope"> micafegrupo8@outlook.com</i></a></li>
            </ul>
        </div>
    </div>
    
    <p class="copyright">Copyright © 2020 <span class="tipografia">Mí Café</span> S.R.L.</p>
    </footer>
</body>
</html>