<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    <main>
        <header class="navbar">
            <div class="navbar-superior">
                <div class="navbar-logo"><a href="/index">Mi Cafe</div></a>
                <div class="search">
                    <input type="text" class="searchTerm" placeholder="Busca tu Producto">
                    <button type="submit" class="searchButton">
                      <i class="fa fa-search"></i>
                   </button>
                </div>
                   <div class="navbar-burger"><i class="fas fa-bars"></i></div>
                   <div class="navbar-cart"><a href="/carrito-lleno"><i class="fas fa-shopping-cart"></i></div></a>
            </div>
            <div class="navbar-inferior">
                <div class="navbar-location"><i class="fas fa-map-marker-alt"></i><h4> Homero Simpson - Avenida Siempre Viva 742</h4></div>
            </div>
            </div>
        </header>
    </main>
</body>
</html>