

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs')%>
        <link rel="stylesheet" href="/stylesheets/navbar.css">
        <link rel="stylesheet" href="/stylesheets/viaja.css">
        <title>Viajá</title>
    </head>
    
<body>
    <%- include('partials/header.ejs')%>
    <main>
    <div class="viaja">
        <h1>Viajá</h1>
     <div class="viaja-textos">
        <h2>Regiones:</h2>
          <div class="viaja-regiones-paises">
           <div>- Colombia</div>
           <div>- Brasil</div>
           <div>- Vietnam</div>
          </div>
    
     <div class="viaja-estadisticas-paises">
        <div class="viaja-industria">
            La industria del café está extendida a lo largo del globo y para muchos países y regiones es uno de sus principales negocios de exportación. De hecho, es la segunda mercancía más comercializada en el mundo, después del petróleo. En todos los continentes, a excepción del europeo, existen plantaciones de cafeto. Esto se debe a que esta se suele encontrar en zonas tropicales y subtropicales.
        </div>
        <div class="viaja-exportadores">
            Sin embargo, solamente son 4 los países que exportan más de 600.000 kilos de granos de café al año!
        </div>
        <div class="viaja-ico">
            La Organización Internacional de Café -ICO según sus siglas en inglés- calcula los kilos de café producidos por cada región. En su ránking de 2018 estos son los 10 países que más granos de café exportaron (en sacos de 60kg):
        </div>
        <div class="listado-paises">
             <div>- Brasil: 62.500 unidades</div>
             <div>- Vietnam: 29.500 unidades</div>
             <div>- Colombia: 14.200 unidades</div>
             <div>- Indonesia: 10.200 unidades</div>
        </div>
        <div class="viaja-brasil">
            Brasil lidera la producción mundial de café siendo esta un tercio de la producción mundial.
        </div>
        
     </div>

     <div class="viaja-regiones-clasificacion">
        Si tenemos en cuenta las regiones y continentes que más café producen, la clasificación queda de la siguiente manera:
      <div class="listado-regiones">
        <div>- Sudamérica: 82.335 sacos de 60kg</div>
        <div>- Asia y Oceanía: 47.254 sacos</div>
        <div>- México y Centroamérica: 21.712 unidades</div>
        <div>- África: 17.742 unidades</div>
      </div>

        
      <div class="esta-claro">
        Está claro que el liderazgo de Brasil junto el tercer puesto de Colombia, hace que la parte sur del continente Americano sea donde más granos de café se produzcan y consecuentemente se exporten. Seguida de la gran producción de Asia que le debe más de la mitad a Vietnam.
      </div>  
      <div class="los-cafes">
        Los cafés de cada una de las tres regiones principales de cultivo de café del planeta poseen características distintivas:
        Los cafés latinoamericanos suelen ser nítidos, familiares y agradables, con sabores que nos recuerdan a frutos secos o cacao.
        Los cafés de África/Arabia son extraordinarios y tentadores, con aromas florales y sabores de bayas y cítricos.
        Los cafés de Asia/Pacífico suelen ser enérgicos y asertivos, con un cuerpo denso y sabores terrosos y herbáceos. 
      </div>  
      <div class="cada-cafe">
        Cada café de origen único que ofrecemos representa las mejores cualidades de sabor de su región. Te invitamos a explorar a través de tu taza de café el sabor de estas zonas.    
      </div>  
     </div>
        
     </div>
   </div>
    <%- include('partials/footer.ejs')%>

    </main>
</body>
</html>