<header class="navbar">

    <div class="navbar-superior">

        <div class="navbar-logo"><a href="/">Mí Café</div></a>

        <div class="search">
            <input type="text" class="searchTerm" placeholder="Busca tu Producto">
            <button type="submit" class="searchButton">
              <i class="fa fa-search"></i>
           </button>
        </div>

           <div class="navbar-burger"><i class="fas fa-bars"></i></div>

           <div class="navbar-cart"><a href="/carrito/lleno"><i class="fas fa-shopping-cart"></i></div></a>
           
    </div>

    <div class="navbar-inferior">

        <div class="navbar-location"><i class="fas fa-map-marker-alt"></i><h4> Homero Simpson - Av. Siempre Viva 742</h4></div>

        <div class="navbar-location-desktop"><i class="fas fa-map-marker-alt"></i><h4> Homero Simpson <br> Av. Siempre Viva 742</h4></div>

        <div class="navbar-categorias">
            <a href="/productos/listado/cafes">Cafés</a><span> - </span>
            <a href="/productos/listado/cafeteras">Cafeteras</a><span> - </span>
            <a href="/productos/listado/accesorios">Accesorios</a>
        </div>

        <div class="navbar-usuario">
            <a href="/usuarios/login"><i class="far fa-user-circle"></i> Homero Simpson </a>
        </div>
    </div>
</header>