<div>
    <select name="provincia" id="">
        <option value="BA">Buenos Aires</option>
        <option value="CA">Catamarca</option>
        <option value="CHA">Chaco</option>
        <option value="CHU">Chubut</option>
        <option value="CORD">Córdoba</option>
        <option value="CORR">Corrientes</option>
        <option value="ER">Entre Ríos</option>
        <option value="FO">Formosa</option>
        <option value="JU">Jujuy</option>
        <option value="LP">La Pampa</option>
        <option value="LR">La Rioja
        </option>
        <option value="ME">Mendoza</option>
        <option value="MI">Misiones</option>
        <option value="NE">Neuquén</option>
        <option value="RN">Río Negro</option>
        <option value="SA">Salta</option>
        <option value="SJ">San Juan</option>
        <option value="SC">Santa Cruz
        </option>
        <option value="SF">Santa Fe
        </option>
        <option value="SGO">Santiago del Estero
        </option>
        <option value="TF">Tierra del Fuego
        </option>
        <option value="TU">Tucumán</option>
    </select>
    </div>
</div>