<section align="center">
    <div class="lista-errores">
        <% if (typeof errors != "undefined") { %>
            <i class="fas fa-exclamation-circle"></i>
            <ul class="lista-errores ul">
                <% for (let i = 0; i < errors.length; i++) { %>
                    <li class="lista-errores li">
                        <%= errors[i].msg %>
                    </li>
                <% } %>
            </ul>
        <% } %>
    </div>
</section>