<% if (typeof errors != "undefined") { %>
    <p style="color:red">ERROR</p>
    <ul>
        <% for (let i = 0; i < errors.length; i++) { %>
            <li>
                <%= errors[i].msg %>
            </li>
        <% } %>
    </ul>
<% } %>