.title {
    width: 100%;
    text-align: center;
    background-color: #D1B894;
    padding-top: 10px
}
.title-products {
    text-align: left;
    vertical-align: bottom;
    background-color: #D1B894;
    color: rgb(83, 82, 82)
}


/* CARRITO CON PRODUCTOS*/

.contenido-carrito-1 {
    padding-top: 15px;
    padding-bottom: 20px;
    margin-left: 6px;
    background-color: #ededed;
    border-bottom: 1px solid #b8b8b8
}

.contenido-carrito-2 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 6px;
    background-color: #ededed;
    border-bottom: 1px solid #b8b8b8;
    /*padding-bottom: 250px*/
}

.contenido-carrito-left {
    vertical-align: top;
    width: 25%;
    display: inline-block;
}

.contenido-carrito-right {
    vertical-align: top;
    display: inline-block;
}

.contenido-carrito-right-nombre {
    font-size: 14px;
    display: inline-block
}

.contenido-carrito-right-presentacion {
    font-size: 12px;
    color:gray
}

.contenido-carrito-right-presentacion a {
    text-decoration: none;
    margin-left: 5px
}

.contenido-carrito-right-detalle {
    margin-top: 10px
}

.contenido-carrito-right-detalle-precio {
    display: inline-block;
}

.contenido-carrito-right-detalle-unidades {
    width: 40px;
    border-radius: 4px;
    margin-right: 140px
}

.contenido-carrito-right-delete-brasil {
    display: inline-block
}

.contenido-carrito-right-delete-colombia {
    display: inline-block;
    margin-left: 18px
}

.fa-times {
    display: inline-block;
    font-size: 12px;
    margin-left: 55px;
    vertical-align: top
}

.finalizar-pedido {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 180px;
    padding-bottom: 60px
}

.button-finalizar-pedido {
    width: 50%;
    color: white;
    background-color: black;
    justify-content: center;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer
}

.finalizar-pedido :hover {
    width: 50%;
    text-align: center;
    color: black;
    padding: 4px;
    background-color: #D1B894;
    border: 1px solid #D1B894;
    border-radius: 4px;
    cursor: pointer;
}

.preguntas-frecuentes {
    padding-top: 10px
}

/* CONTINUAR VIENDO PRODUCTOS */

.continua {
    /*margin-top: 300px;*/ /*agregarle padding-bottom o margin-bottom al ultimo elemento antes que este*/
    text-align: center;
    background-color: #ededed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.continua-viendo {
    width: 100%;
    margin-bottom: 6px;
    /*background-color: rgb(231, 231, 231);*/
    
    padding-top: 6px
}

.continua img {
    width: 35%;
    margin-bottom: 15px;
}

.fa-angle-right {
    font-size: 25px;
    padding-bottom: 6px;
    /*background-color: rgb(231, 231, 231)*/
    
}

.fa-angle-left {
    font-size: 25px;
    padding-bottom: 6px;
    /*background-color:rgb(231, 231, 231)*/ 
}

/* BOX PRODUCTOS */

@media (max-width: 767px){


}

/*  */

@media (min-width: 768px) {

    /* HEADER TABLET/DESKTOP */
/*
    div.search {
        width: 60%;
    }
    
    .search {
        width: 60%;
        position: relative;
        display: flex;
        margin-left: 5%;
    }
    
    .searchTerm {
        width: 65%;
        border: 1px solid #D1B894;
        border-right: none;
        padding: 5px;
        height: 23px;
        border-radius: 4px 0 0 4px;
        outline: none;
        color: black;
      }
    
    .searchButton {
        width: 40px;
        height: 35px;
        border: 1px solid #D1B894;
        border-left: none;
        background:  #ededed;
        text-align: center;
        color: black;
        border-radius: 0 4px 4px 0;
        cursor: pointer;
        font-size: 12px;
    }
    
    .fa-search:before {
        background-color:  #ededed;
    }

    .navbar-cart {
        display: none
    }
}*/