<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs')%>
        <link rel="stylesheet" href="/stylesheets/navbar.css">
        <title>Avatar</title>
    </head>
    <body>
        <%- include('../partials/header.ejs')%>
        <main align="center">
            <h1>Avatar</h1>

            <%- include('../partials/footer.ejs')%>
        </main>
    </body>
</html>>