<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs')%>
        <link rel="stylesheet" href="/stylesheets/navbar.css">
        <link rel="stylesheet" href="/stylesheets/formulario-registro.css">
        <title>Agregar una Direccion</title>
    </head>
    <body>
        <%- include('../partials/header.ejs')%>
        <main>
            <section class="titulo">
                <h2>Agregar una Direccion</h2>
            </section>

            <section align="center" class="formulario">
                <form method="POST" action="/usuarios/register"> <!-- MODIFICAR EL METODO Y ACTION -->
                    <div>

                        <label for="">Provincia</label>
                        <%- include('../partials/provinciasSelect.ejs')%>

                        <label for="">Ciudad</label>
                        <br>
                        <input type="text" name="city" id="city" placeholder="Ciudad">
                        <br>
                        <br>
                        <label for="">Codigo Postal</label>
                        <br>
                        <input type="number" name="zip_code" id="zip_code" placeholder="Codigo Postal">
                        <br>
                        <br>
                        <label for="">Calle</label>
                        <br>
                        <input type="text" name="street" id="street" placeholder="Calle">
                        <br>
                        <br>
                        <label for="">Altura</label>
                        <br>
                        <input type="number" name="number" id="number" placeholder="Altura">
                        <br>
                        <br>
                        <label for="">Piso (Opcional)</label>
                        <br>
                        <input type="text" name="flat" id="flat" placeholder="Piso (Opcional)">
                        <br>
                        <br>
                        <label for="">Departamento (Opcional)</label>
                        <br>
                        <input type="text" name="apartment" id="apartment" placeholder="Departamento (Opcional)">
                        <br>
                        <br>
                    </div>
                    
                    <button class="crear-cuenta" type="submit">Agregar Direccion</button>
                </form>
            </section>

            <%- include('../partials/footer.ejs')%>
        </main>
    </body>
</html>>