<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs')%>
        <link rel="stylesheet" href="/stylesheets/navbar.css">
        <link rel="stylesheet" href="/stylesheets/pagos-direcciones.css">
        <title>Direcciones</title>
    </head>
    <body>
        <%- include('../partials/header.ejs')%>
        <main align="center">
            <h1>Direcciones</h1>
            <br>
            <a class="button-finalizar-pedido" href="http://localhost:3030/usuarios/direcciones/crear">Agregar una Direccion</a>
            <br>
        </main>
        <%- include('../partials/footer.ejs')%>
    </body>
</html>