<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs')%>
        <link rel="stylesheet" href="/stylesheets/navbar.css">
        <link rel="stylesheet" href="/stylesheets/formulario-registro.css">
        <title>Formulario de Registro</title>
    </head>
<body>
    <%- include('../partials/header.ejs')%>
    <main>
        
        <section class="titulo">
            <h2>Edita tu Perfil</h2>
        </section>

        <section align="center" class="formulario">
            <form method="POST" action="/usuarios/register" enctype="multipart/form-data">
                <div>
                    <input type="text" name="nombre" value="Nombre">
                    <input type="text" name="apellido" value="Apellido">
                    <input type="text" name="direccion" id="direccion" placeholder="Direccion">
                    <br>
                    <label class="titulo" for="">Fecha de Nacimiento</label>
                    <br>
                    <input type="date" name="fechaNacimiento" id="fechaNacimiento">
                    <div class="genero">
                        <label for="" class="titulo">Género</label>
                        <br>
                        <select name="genero" id="">
                        <option value="Femenino" name="genero">Femenino</option>
                        <option value="Masculino" name="genero">Masculino</option>
                        <option value="Indistinto" name="genero">Indistinto</option>
                        </select>
                    </div>
                </div>
                
                
            
                <div class="subir-imagen">
                    <label class="titulo" for="">Subi tu Foto</label>
                    <br>
                    <input type="file" name="imagen">
                </div>

                <button class="confirmar-cambios" type="submit">Confirmar Cambios</button>
                <a href="/usuarios/editar"><button class="descartar-cambios">Descartar Cambios</button></a>
            </form>
        </section>
    <%- include('../partials/footer.ejs')%>
        
    </main>
</body>
</html>