<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs')%>
        <link rel="stylesheet" href="/stylesheets/navbar.css">
        <link rel="stylesheet" href="/stylesheets/formulario-registro.css">
        <link rel="stylesheet" href="/stylesheets/errores.css">
        <title>Formulario de Registro</title>
    </head>
<body>
    <%- include('../partials/header.ejs')%>
    <main>
        
        <section class="titulo">
            <h2>Completá tus datos</h2>
        </section>

        <div class="lista-errores">
            <%- include('../partials/vistaErroresValidaciones.ejs') %>
        </div>

        <section align="center" class="formulario">
            <form method="POST" action="/usuarios/register">
                <div>
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre">
                    <input type="text" name="apellido" id="apellido" placeholder="Apellido">
                    <input type="email" name="email" id="email" placeholder="E-mail">
                    <input type="password" name="password" id="password" placeholder="Password"><i class="fas fa-eye-slash"></i>
                    <!--<input type="password" name="confirmarPassword" id="confirmarPassword" placeholder="Confirma tu Password" required><i class="fas fa-eye-slash"></i>-->
                </div>
                
                <div class="checkbox">
                    <p><input type="checkbox" name="terminos-condiciones" value="terminos-condiciones"> Terminos y Condiciones</p><br>
                    <p><input type="checkbox" name="correo-promocional" value="correo-promocional"> Correo Promocional</p>
                </div>

                <img src="/images/captcha.jpg" alt="captcha">

                <button class="crear-cuenta" type="submit">Creá tu Cuenta</button>

                <a href="/usuarios/login"><button class="usuario-existente" type="button">¿Ya tenés una cuenta? <br> Clickea aquí para ingresar</button></a>
            </form>
        </section>
    <%- include('../partials/footer.ejs')%>
        
    </main>
</body>
</html>