<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs')%>
        <link rel="stylesheet" href="/stylesheets/navbar.css">
        <link rel="stylesheet" href="/stylesheets/login.css">
        <link rel="stylesheet" href="/stylesheets/errores.css">
        <title>Login</title>
    </head>

<body>
    <%- include('../partials/header.ejs')%>
    
    <main>
        <section align="center" class="login">
            <div class="login-credential-image">
                <img src="/images/avatar-icon.svg" alt="avatar-login">
            </div>

            <div class="login-credential-alternative">
                <img class="login-credential-alternative-gm" src="/images/gm-icon.svg" alt="Login Gmail">
                <img class="login-credential-alternative-fb" src="/images/fb-icon.svg" alt="Login Facebook">
                <img class="login-credential-alternative-tw"  src="/images/tw-icon.svg" alt="Login Twitter">
            </div>

            <div align="center" class="lista-errores">
            <% if (typeof errors != "undefined") { %>
                <i class="fas fa-exclamation-circle"></i>
                <ul class="lista-errores ul">
                    <%= errors.msg %>
                </ul>
            <% } %>
        </div>

            <form class="login-credential" action="/usuarios/login" method="POST">
                <div class="login-credential-user">
                    <br>
                    <p>...ó ingresá con tu usuario:</p>
                    <input class="email" type="email" name="email" id="email" placeholder="E-mail" style="text-align:center">
                    <br>
                    <ul>
                        <li type= "disc" class="erroresEmail"></li>
                    </ul>
                    <br>
                </div>

                <div class="login-credential-password">
                    <input class="password" type="password" name="password" id="password" placeholder="Contraseña" style="text-align:center"><span><button id = "view-pass"><i class="fas fa-eye-slash"></i></button></span>
                    <br>
                    <ul>
                        <li type= "disc" class="erroresPassword"></li>
                    </ul>
                    <br>
                </div>

                <div class="login-credential-remindme">
                    <input type="checkbox" name="remindme" value="remindme"> Recordarme
                </div>
                
                <div class="login-submit">
                    <button class="login-submit-button" type="submit" value="Ingresar">Ingresar</button>
                </div>
            </form>

            <div class="login-recover-links">
                <a class="login-recover-links-user" href="">¿Olvidaste tu usuario?</a>
                <a class="login-recover-links-password" href="">¿Olvidaste tu contraseña?</a>
            </div>

            <div class="login-register">
                <p>Si aún no estás registrado,</p>
                <a class="login-register-button" href="/usuarios/register">Creá tu cuenta</a>
            </div>
        </section>
    </main>
    <%- include('../partials/footer.ejs')%>
    <script type="text/javascript" src="/js/validator.js"></script>
</body>
</html>